{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Содержимое курса "{{course.name}}"</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
	<a href="/elearning/course/{{course.id}}/">Информация о курсе "{{course.name}}"</a>
</div>
{% if start_mrk %}
<div class='row'>
    <div class="col-xs-6">
    	<table class="table table-bordered table-striped table-hover">
    		<thead>
    			<th>Тестирование до обучения</th>
    			<th>Оценка</th>
    		</thead>
    			<tr>
					<td align='center'>{{start_test.test}}</td>
					<td align='center'>{{start_mrk}}</td>
    			</tr>
    	</table>
	</div>
</div>
{% endif %}
{% if start_test and start_mrk or not start_test %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{course.name}}</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Название модуля</th>
							<th>Описание модуля</th>
							<th>Оценка</th>
							<!--<th>Количество попыток</th>-->
							<th>Начать прохождение</th>
						</tr>
					</thead>
					<tbody>
					    {% for module, mark, attempt in mmarks %}
						<tr>
							<td>{{module.name}}</td>
							<td>{{module.description}}</td>
							
							{% if mark %}
							<td>Пройден</td>
							{% elif not mark and attempt > 0 %}
							<td style='color:green;'>Не пройден</td>
							{% else %}
							<td style='color:red;'>Не пройден</td>
							{% endif %}
							
							
							<!--{% if attempt > 0 %}
							<td style='color:green;'>{{attempt}}</td>
							{% else %}
							<td style='color:red;'>{{attempt}}</td>
							{% endif %}
							-->
							
							{% if module in cmodules or attempt == 0 %}
							<td align='center'><a href='/elearning/module/{{pcourse.id}}/{{module.id}}' class="btn btn-success btn-xs">Посмотреть материалы</a></td>
							{% else %}
							<td align='center'><a href='/elearning/module/{{pcourse.id}}/{{module.id}}' class="btn btn-purple btn-xs">Начать прохождение</a></td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>							
			</div>
		</div>
    </div>
</div>
{% if finish_mrk and end_test %}
<div class='row'>
    <div class="col-xs-6">
    	<table class="table table-bordered table-striped table-hover">
    		<thead>
    			<th>Тестирование после обучения</th>
    			<th>Оценка</th>
    		</thead>
    			<tr>
					<td align='center'>{{end_test.test}}</td>
					<td align='center'>{{finish_mrk.mark}}</td>
    			</tr>
    	</table>
	</div>
</div>
{% endif %}

{% if cmodules|length == modules.count %}
{% if not finish_mrk %}
<div class='row'>
    <div class="col-xs-6">
    	<p>Поздравляем! Вы практически завершили обучение! Пройдите тест когда будете готовы! Вы можете просматривать материалы в любое время.</p>
    	<table class="table table-bordered table-striped table-hover">
    			<tr>
					<td>{{end_test.test}}</td>
					<td>{{end_test.date_start}}</td>
					<td>{{end_test.date_end}}</td>
					{% if end_test.type_of_testing.id == 2 or not end_test.type_of_testing %}
					<td><a href='/tests/modules/{{end_test.id}}/' class="btn btn-purple btn-xs">Пройти тест</a></td>
					{% elif start_test.type_of_testing.id == 1 %}
					<td><a href='/tests/modules_q/{{end_test.id}}/' class="btn btn-purple btn-xs">Пройти тест</a></td>
                        {% else %}
                        <td><a href='/tests/modules/{{end_test.id}}/' class="btn btn-purple btn-xs">Пройти тест</a></td>
					{% endif %}
    			</tr>
    	</table>
	</div>
</div>
{% endif %}
{% endif %}

{% if renderform %}
<div class='row'>
    <div class="col-xs-12">
<form method='post' action='#' class='form-horizontal' name='FeedbackForm'>
	{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-8 col-md-8 col-lg-8 control-label">Оцените вашу удовлетворенность пройденным обучением по шкале от 1 до 10, где 1 - абсолютно не удовлетворен, а 10 - абсолютно удовлетворен</label>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<label>1<input type="radio" name="radios[]" value='1'/> &nbsp&nbsp&nbsp</label>
			<label>2<input type="radio" name="radios[]" value='2'/> &nbsp&nbsp&nbsp</label>
			<label>3<input type="radio" name="radios[]" value='3'/> &nbsp&nbsp&nbsp</label>
			<label>4<input type="radio" name="radios[]" value='4'/> &nbsp&nbsp&nbsp</label>
			<label>5<input type="radio" name="radios[]" value='5'/> &nbsp&nbsp&nbsp</label>
			<label>6<input type="radio" name="radios[]" value='6'/> &nbsp&nbsp&nbsp</label>
			<label>7<input type="radio" name="radios[]" value='7'/> &nbsp&nbsp&nbsp</label>
			<label>8<input type="radio" name="radios[]" value='8'/> &nbsp&nbsp&nbsp</label>
			<label>9<input type="radio" name="radios[]" value='9'/> &nbsp&nbsp&nbsp</label>
			<label>10<input type="radio" name="radios[]" value='10' checked/> </label>
		</div>
	</div>
	<div class='form-group'>
		<label class="col-sm-2 col-md-2 col-lg-2 control-label">Ваши комментарии, пожелания и вопросы для очного тренинга</label>
		<div class="col-sm-10 col-md-10 col-lg-10">
			<textarea id='FeedbackText' name='FeedbackText' rows="5" class="form-control">{{comment}}</textarea>
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
	</div>
</form>

	</div>
</div>

{% endif %}
{% if renderresult %}
<div class='row'>
    <div class="col-xs-12">
    	<p>{{message}}</p>
    	<p>{{comment}}</p>
    	{% if renderbutton %}
    	<a href='?change=1' class='btn btn-success'>Изменить мнение</a>
    	{% endif %}
	</div>
</div>
<div class='row'>
    <div class="col-xs-12">
    	{% if renderbutton %}
    	<a href='/trainings/traininginfo/{{ tr.id }}' class='btn btn-success'>Записаться на очное обучение</a>
    	{% endif %}
	</div>
</div>
{% endif %}

{% else %}
<div class='row'>
    <div class="col-xs-6">
    	<p>Для начала обучения пройдите тестирование</p>
    	<table class="table table-bordered table-striped table-hover">
    			<tr>
					<td>{{start_test.test.name}}</td>
					<td>{{start_test.date_start}}</td>
					<td>{{start_test.date_end}}</td>
					{% if start_test.type_of_testing.id == 2 or not start_test.type_of_testing %}
					<td><a href='/tests/modules/{{start_test.id}}/' class="btn btn-purple btn-xs">Пройти тест</a></td>
					{% elif start_test.type_of_testing.id == 1 %}
					<td><a href='/tests/modules_q/{{start_test.id}}/' class="btn btn-purple btn-xs">Пройти тест</a></td>
					{% endif %}
    			</tr>
    	</table>
	</div>
</div>
{% endif %}




{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}