{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}


{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
{% endblock %}


{% block menu %}
{% include 'users/dealer_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{course.course.name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
	<a href="/elearning/userlist/{{course.id}}/">{{course.course.name}}</a>
</div>


<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>{{course.course.name}}</h5>
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover data-table">
            <thead>
                <tr>
                    <th align='center'><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
					<th align='center' width='23%'>ФИО</th>
					<th align='center' width='23%'>Основная должность</th>
					<th align='center' width='23%'>Прогресс(модули)</th>
					<th align='center' width='23%'>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for child, module, result in userlist %}
                <tr>
                    <td align='center'><input type="checkbox"/></td>
                    <td align='center'><a href="/users/{{child.id}}">{{child.get_full_name}}</a></td>
                    <td align='center'>{{child.job}}</td>
                    <td align='center'>{{module}} из {{total_modules}}</td>
                    <td align='center'>{{result}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>

{% endblock %}