{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}
{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{course.course.name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
	<a href="/elearning/userlist/{{course.id}}/">{{course.course.name}}</a>
</div>

<div class='row'>
	<div class='col-sm-9'></div>
	<div class='col-sm-3'>
	<div style='float: right;'>
	    {% if course.finish_test %}
		<a href='/tests/statistics/{{course.finish_test.id}}' class="btn btn-purple btn-xs">Статистика тестирования</a><br><br>
		{% endif %}
	</div>
	</div>
</div>

<div class="row">
    <div class="col-sm-12">

    
    
        <table id='fullinfo' class='table table-bordered'>
            <thead>
                <tr>
                    
					<th align='center' width='15%'>ФИО</th>
					<th align='center' width='15%'>Дилер</th>
					{% if course.start_test %}
					<th align='center' width='15%'>Тестирование до прохождения</th>
					{% endif %}
					{% if course.finish_test %}
					<th align='center' width='15%'>Тестирование после прохождения</th>
					{% endif %}
					<!--
					<th align='center' width='15%'>Оценка по курсу</th>
					<th align='center' width='5%'></th>
					-->
                </tr>
            </thead>
            <tbody>
                {% for child, start, module, result, finish in userlist %}
                <tr>
                    
                    <td align='center'>{{child.get_full_name}}</a></td>
                    <td align='center'>{{child.parentId.short_title}}</td>
                   
                    {% if start < 70 %}
                    <td bgcolor='FAD1DB' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.start_test.id}}/'>{{start}}</a></td>
                    {% elif start > 70 and start <= 80 %}
                    <td bgcolor='FFFFA6' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.start_test.id}}/'>{{start}}</a></td>
                    {% elif start > 80 and start <= 100 %}
                    <td bgcolor='B5FFBA' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.start_test.id}}/'>{{start}}</a></td>
                    {% else %}
                    <td align='center'><a href='/tests/modules_results/{{child.id}}/{{course.start_test.id}}/'>Не окончен</a></td>
                    {% endif %}
                    
                    {% if finish < 70 %}
                    <td bgcolor='FAD1DB' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.finish_test.id}}/'>{{finish}}</a></td>
                    {% elif finish >= 70 and finish <= 80 %}
                    <td bgcolor='FFFFA6' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.finish_test.id}}/'>{{finish}}</a></td>
                    {% elif finish > 80 and finish <= 100 %}
                    <td bgcolor='B5FFBA' align='center'><a href='/tests/modules_results/{{child.id}}/{{course.finish_test.id}}/'>{{finish}}</a></td>
                    {% else %}
                    <td align='center'><a href='/tests/modules_results/{{child.id}}/{{course.finish_test.id}}/'>Не окончен</a></td>
                    {% endif %}
                    
                    <!--
                    {% if result < 70 and result > 0 %}
                    <td align='center'  bgcolor='FAD1DB'>{{result}}</td>
                    <td align='center'><a href="/elearning/user_course_info/{{course.id}}/{{child.id}}/" class='btn btn-success'>Подробнее</a></td>
                    {% elif result >= 70 and result < 80 %}
                    <td align='center'  bgcolor='FFFFA6'>{{result}}</td>
                    <td align='center'><a href="/elearning/user_course_info/{{course.id}}/{{child.id}}/" class='btn btn-success'>Подробнее</a></td>
                    {% elif result >= 80 and result <= 100 %}
                    <td align='center'  bgcolor='B5FFBA'>{{result}}</td>
                    <td align='center'><a href="/elearning/user_course_info/{{course.id}}/{{child.id}}/" class='btn btn-success'>Подробнее</a></td>
                    {% else %}
                    <td align='center'>Не окончен</td>
                    <td align='center'><a href="/elearning/user_course_info/{{course.id}}/{{child.id}}/" class='btn btn-success'>Подробнее</a></td>
                    {% endif %}
                    -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <h4>Средняя оценка курса пользователями: {{feedback_middle}}</h4>
    </div>
</div><br><br>
<div class="row">
    <div class="col-sm-12">
        <h4>Комментарии оставленные пользователями:</h4>
        {% for feedback in feedback_texts %}
        <p><b>{{feedback.user.get_full_name}}:</b> </p>
        <q>{{feedback.feedback}}</q>
        {% endfor %}
    </div>
</div>
<br><br>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#fullinfo').DataTable();
} );
$('#fullinfo').DataTable( {
    paging: false
} );
</script>
{% endblock %}