{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Дистанционное обучение</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
</div>

{% if courses %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Доступные курсы</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th width='30%' align='center'>Название курса</th>
							<th width='30%'>Описание курса</th>
							<th width='30%'>Дата начала и окончания</th>
							<th width='10%'></th>
						</tr>
					</thead>
					<tbody>
						{% for course in courses %}
						<tr>
							<td align='center' style='vertical-align: middle'>{{course.course}}</td>
							<td align='center' style='vertical-align: middle'>{{course.course.description}}</td>
							<td align='center' style='vertical-align: middle'>{{course.date_start}} - {{course.date_end}}</td>
							<td align='center' style='vertical-align: middle'><a href='/elearning/course/{{course.id}}' class="btn btn-purple btn-xs">Начать прохождение</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>							
			</div>
		</div>
    </div>
</div>
{% endif %}
<div class='row'>
    <div class="col-xs-12">
<hr style='height: 1px; background-color: grey;'>
	</div>
</div>

{% if cmrks %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Пройденные курсы</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Название курса</th>
						
							<th>Дата начала и окончания</th>
							<th>Оценка</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					    {% for course, mark in cmrks %}
						{% if mark %}
						<tr>
							<td align='center' style='vertical-align: middle'>{{course.course}}</td>
							<td align='center' style='vertical-align: middle'>{{course.date_start}} - {{course.date_end}}</td>
							<td align='center' style='vertical-align: middle'>{{mark}}</td>
							<td align='center' style='vertical-align: middle'><a href='/elearning/course/{{course.id}}' class="btn btn-success btn-xs">Посмотреть материалы</a></td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>							
			</div>
		</div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}