{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}
{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{course.course.name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
	<a href="/elearning/userlist/{{course.id}}/">{{course.course.name}}</a>
</div>

<div class="row">
    <div class="col-sm-6">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>{{course.course.name}}</h5>
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th align='center'>ФИО</th>
                    {% for module in modules %}
                    <th align='center'>{{module}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td align='center'>{{child.get_full_name}}</td>
                    {% for module, result in module_marks %}
                    {% if result >= 0 %}
                    <td align='center'>{{result}}%</td>
                    {% else %}
                    <td align='center'>Не пройден</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}