{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}
{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Дистанционное обучение</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
</div>


<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Доступные курсы</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th align='center'>Название курса</th>
							<th align='center'>Описание курса</th>
							<th align='center'>Дата начала и окончания</th>
							<th align='center'></th>
						</tr>
					</thead>
					<tbody>
					    {% for course in courses %}
						<tr>
							<td align='center'>{{course.course}}</td>
							<td align='center'>{{course.course.description}}</td>
							<td align='center'>{{course.date_start}} - {{course.date_end}}</td>
							<td align='center'><a href='/elearning/userlist/{{course.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>							
			</div>
		</div>
    </div>
</div>



{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}