{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}

<div id="content-header" class="mini">
	<h1>Информация о модуле</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/elearning/list/">Дистанционное обучение</a>
	<a href="/elearning/module/{{module.id}}/{{pcourse.id}}">Информация о модуле</a>
</div>


<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{module.name}}</h5>
			</div>
			<div class="widget-content">
			{% if module.presentation %}
			
				<iframe src = "http://pdf.kpi-ua.com/presentations/viewerjs/#../../{{module.presentation}}" width='800' height='600' allowfullscreen webkitallowfullscreen></iframe>
			
			{% endif %}
			
			{% autoescape off %}
			{{module.content}}
			{% endautoescape %}
		{% if mark %}
		<p><a href="/elearning/module/{{pcourse.id}}/{{module.id}}/finish" class="btn btn-purple btn-xs">Перейти к тестированию</a></p>
		{% else %}
		<p><a href="/elearning/module/{{pcourse.id}}/{{module.id}}/finish" class="btn btn-purple btn-xs">Завершить модуль</a></p>
		{% endif %}
		<p><a href="/elearning/course/{{pcourse.id}}" class="btn btn-yellow btn-xs">К списку модулей</a></p>
			</div>
			
		</div>
    </div>
</div>



{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}