{% extends 'users/index.html' %}

{% block user %}  {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}  {% endblock %}




{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">{{message}}</h1>

</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Техподдержка</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <form method='post' action='/support/?subject={{subject}}'>
            {% csrf_token %}
            <table class='table table-hover'>
                <tbody>
                    {% for field in fields %}
                    <tr>
                        
                        <td width='50%'>{{field}}</td>
                        <td width='50%'><input type='text' name='{{field}}' label='{{field}}' style='width: 380px;'></td>
                        
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Опишите подробно вашу проблему</td>
                        <td><textarea name='Примечание' rows='4' style='width: 380px; resize: none;'></textarea></td>
                    </tr>
                    
                    <tr>
                        <td colspan='2'><input type='submit' class='btn btn-success' style='width: 400px; float: right;'></td>
                    </tr>    
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}


{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}