{% extends 'users/index.html' %}

{% block user %}  {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}  {% endblock %}




{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Поддержка</h1>

</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Техподдержка</a>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>{{message}}</h3><br>
        {% for button in buttons %}
        <p><a class='btn btn-primary' href='/support/?problem={{button.1}}' style='width: 500px;'>{{ button.0 }}</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}