{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
 <link rel="stylesheet" href="/static/css/datepicker.css" />

{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}


{% block content %}

<div id="content-header" class="mini">
	<h1>Список сотрудников</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Инструмент для подгрузки оценок из Дистанционных обучений</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <form method="post">
            {% csrf_token %}
            <label for="test">Введите ID запланированного тестирования</label>
            <input id="test" type="text" name="test_id" class="form-control" required style="width: 100px; float: right;"><br><br>
            <label for="ecourse">Введите ID запланированного дистанционного обучния</label>
            <input id="ecourse" type="text" name="ecourse_id" class="form-control" required style="width: 100px; float: right;"><br><br>
            <label for="course">Введите ID курса</label>
            <input id="course" type="text" name="course_id" class="form-control" required style="width: 100px; float: right;"><br><br>
            <input type="submit" class="btn btn-block btn-success">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Результат выполнения:</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Пользователь</th>
                <th>Оценка по тестированию</th>
                <th>Оценка по ДО</th>
                <th>Оценка по курсу</th>
            </tr>
        {% for n in newcomers %}
            <tr>
                <td>{{ n.0 }}</td>
                <td>{{ n.1 }}</td>
                <td>{{ n.2 }}</td>
                <td>{{ n.3 }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src='/static/js/resize.js'></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/unicorn.form_common.js"></script>

{% endblock %}