{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
 <link rel="stylesheet" href="/static/css/datepicker.css" />

{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}


{% block content %}

<div id="content-header" class="mini">
	<h1>Список сотрудников</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/users" class="current">Список сотрудников</a>
</div>

<div class="row">
    <div class="col-sm-6">
    <h2>{{ message }}</h2>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <select name="training" style="width: 100%">
                {% for tr in trainings %}
                <option value="{{ tr.id }}">{{ tr }}</option>
                {% endfor %}
            </select>
        <br><br>
        <div class="row">
            <label>Введите название очного обучения</label>
            <input name='name' type="text" class="form-control">
        </div>
        <br><br>
        <div class="row">
            <label>Выберите дату</label>
            <div class="col-md-6">
                <input name="date" type="text" data-date="{{ today.day }}-{{ today.month }}-{{ today.year }}" data-date-format="dd-mm-yyyy" class="datepicker form-control" />
            </div>

        </div>
        <br><input type="file" name="file" class="form-control" style="width: 250px;" required>
        <br>
        <input type="submit" class="btn btn-block btn-primary" value="Синхронизировать результаты">
        </form>
    </div>
</div>
    <br><br>
{% if failed_users %}
<div class="row">
    <div class="col-sm-6">
    <h3>Пользователи отсутствующие в системе</h3>
    <ol>
        {% for user in failed_users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ol>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src='/static/js/resize.js'></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/unicorn.form_common.js"></script>

{% endblock %}