{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />

{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}


{% block content %}

<div id="content-header" class="mini">
	<h1>Выбор курса для переода в рейтинговую систему</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="#" class="current">Выбор курса для переода в рейтинговую систему</a>
</div>

<div class="row">
    <div class="col-sm-6">
    {% if courses %}
        <form method="post">
        {% csrf_token %}
            <select name="course" style="width: 100%">

                {% for course in courses %}
                <option value="{{ course.id }}">{{ course }}</option>
                {% endfor %}
            </select>

        <br><br>
        <input type="submit" class="btn btn-block btn-primary" value="Выбрать">
        </form>
    {% else %}
    <h3>Нет доступных курсов</h3>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src='/static/js/resize.js'></script>


{% endblock %}
