{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о рейтинге по курсам</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='#'>Информация о рейтинге по курсам</a>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Название дилера</td>
                    {% for course in courses %}
                        <td>{{ course }}</td>
                    {% endfor %}
                    <td>Среднее значение</td>
                </tr>
            </thead>
            <tbody>

                    {% for info in data2 %}
                        <tr>
                        <td>{{ info.0.short_title }}</td>
                        {% for course_mark in info.1 %}
                            <td>{{ course_mark|floatformat }}</td>
                        {% endfor %}
                        <td>{{ info.2|floatformat }}</td>
                        </tr>
                    {% endfor %}

            </tbody>
        </table>

{{ data2 }}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>





{% endblock %}
