{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />

{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}


{% block content %}

<div id="content-header" class="mini">
	<h1>Перевод в рейтинговую систему</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="#" class="current">Перевод в рейтинговую систему</a>
</div>

    {% if message %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ message }}</h3>
        </div>
    </div>
    {% endif %}
<div class="row">

    <div class="col-sm-6">
        <h3>Выбранный курс: {{ course }}</h3>
        <a href="/test_to_raiting/{{ course.id }}/" class="btn btn-block btn-success">Перевести тестирование в рейтинговую систему</a>
        <a href="/elearning_to_raiting/{{ course.id }}/" class="btn btn-block btn-primary">Перевести дистанционное обучение в рейтинговую систему</a>
        <a href="/training_to_raiting/{{ course.id }}/" class="btn btn-block btn-danger">Перевести очное обучение в рейтинговую систему</a>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src='/static/js/resize.js'></script>


{% endblock %}
