{% extends 'users/index.html' %}
{% block user %} {{user.get_full_name}} {% endblock %}
{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}
{% block menu %}

{% include 'users/dist_menu.html' %}

{% endblock %}
{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Синхронизация</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="На главную" class="tip-bottom"><i class="fa fa-home"></i> Главная</a>
	<a href="#" class="current">Синхронизация</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                <div class='form-group col-sm-6'>
                    <input class='form-control' type='file' name='file'>
                    <input type='submit' value='Синхронизировать' class='btn btn-block btn-success'>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% if message %}
    <div class='row'>
        <div class='col-sm-12'>
            <h3>{{message}}</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}