{% extends 'users/index.html' %}

{% block user %}
{% if current_user %}
{{ current_user.title }}
{% else %}
{{ user.get_full_name }} 
{% endif %}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% if current_user.is_dist %}
{% include "users/dist_menu.html" %}
{% elif current_user.is_dealer %}
{% include "users/dealer_menu.html" %}
{% else %}
{% include "users/users_menu.html" %}
{% endif %}
{% endblock %}

{% block content %}


<div id="content-header" class='mini'>
	<h1>Достижения	{{ time }}</h1>
</div>

<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i> Профиль</a>
	<a href="/tests/testinfo">Достижения</a>
</div>
{% if for_tests %}
<div class='row'>
	<div class='col-sm-12'>
<h3>Тестирования</h3></div></div>
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Список пройденых тестирований</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered">
					<thead>
						<th>Название тестирования</th>
						<th>Дата прохождения</th>
						<th>Оценка</th>
						<th>Подробности</th>
					</thead>
					<tbody>
					
					    {% for result in for_tests %}
						<tr>
							<td align='center'>{{result.ptest.test.name}}</td>
							<td align='center'>{{result.testend}}</td>
							{% if result.mark >= 0 and result.mark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{result.mark}}%</td>
							{% elif result.mark >= 71 and result.mark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{result.mark}}%</td>
							{% elif result.mark >= 81 and result.mark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{result.mark}}%</td>
							{% endif %}
							{% if not current_user %}
							<td align='center'><a href='/tests/modules/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dist %}
							<td align='center'><a href='/tests/full-testinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dealer %}
							<td align='center'><a href='/tests/fulltestinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endif %}
{% if elearning_results or for_elearning %}
<hr style="border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);">
<div class='row'>
	<div class='col-sm-12'>
		<h3>Дистанционное обучение</h3>
	</div>
</div>
{% endif %}


{% if elearning_result %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Дистанционное обучение</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-hover">
					<thead>
						<th>Название дистанционного курса</th>
						<th>Дата прохождения</th>
						<th>Оценка</th>
						<th>Подробности</th>
					</thead>
					<tbody>
						
					    {% for result, mark in elearning_result %}
						<tr>
							<td align='center'>{{result.pcourse.get_name}}</td>
							<td align='center'>{{result.date}}</td>
							{% if mark >= 0 and mark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{mark}}%</td>
							{% elif mark >= 71 and mark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{mark}}%</td>
							{% elif mark >= 81 and mark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{mark}}%</td>
							{% endif %}
							{% if not current_user %}
							<td align='center'><a href='/elearning/course/{{result.pcourse.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dist or current_user.is_dealer %}
							<td align='center'><a href='/elearning/userlist/{{result.pcourse.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endif %}


<!--
{% if for_elearning %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Список пройденых тестирований для дистанционного обучения</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<th>Название тестирования</th>
						<th>Дата прохождения</th>
						<th>Оценка</th>
						<th>Подробности</th>
					</thead>
					<tbody>
						
					    {% for result in for_elearning %}
						<tr>
							<td align='center'>{{result.ptest.test.name}}</td>
							<td align='center'>{{result.testend}}</td>
							<td align='center'>{{result.mark}}%</td>
							{% if not current_user %}
							<td align='center'><a href='/tests/modules/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dist %}
							<td align='center'><a href='/tests/full-testinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dealer %}
							<td align='center'><a href='/tests/fulltestinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endif %}
-->
{% if training_results or for_training %}
<hr style="border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);">
<div class='row'>
	<div class='col-sm-12'>
		<h3>Тренинги</h3>
	</div>
</div>
{% endif %}
{% if trainings_info %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Тренинги</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-hover">
					<thead>
						<th>Название тренинга</th>
						<th>Дата прохождения</th>
						<th>Оценка</th>
						
					</thead>
					<tbody>
						
					    {% for training, date, mark in trainings_info %}
						<tr>
							<td align='center'>{{training.training}}</td>
							<td align='center'>{{date}}</td>
							{% if mark >= 0 and mark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{mark}}%</td>
							{% elif mark >= 71 and mark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{mark}}%</td>
							{% elif mark >= 81 and mark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{mark}}%</td>
							{% endif %}
							
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endif %}
{% if for_training %}
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Список пройденых тестирований для тренингов</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<th>Название тестирования</th>
						<th>Дата прохождения</th>
						<th>Оценка</th>
						<th>Подробности</th>
					</thead>
					<tbody>
						
					    {% for result in for_training %}
						<tr>
							<td align='center'>{{result.ptest.test.name}}</td>
							<td align='center'>{{result.testend}}</td>
							{% if result.mark >= 0 and result.mark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{result.mark}}%</td>
							{% elif result.mark >= 71 and result.mark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{result.mark}}%</td>
							{% elif result.mark >= 81 and result.mark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{result.mark}}%</td>
							{% endif %}
							{% if not current_user %}
							<td align='center'><a href='/tests/modules/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dist %}
							<td align='center'><a href='/tests/full-testinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
							{% if current_user.is_dealer %}
							<td align='center'><a href='/tests/fulltestinfo/{{result.ptest.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
							{% endif %}
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}