{% extends 'users/index.html' %}
{% load mytags %}
{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% if user.is_dist %}
{% include 'users/dist_menu.html' %}
{% elif user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{ptest.test}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests/full-testinfo/{{ptest.id}}/">Тестирование</a>
	<a href="#">Модули</a>
</div>

<div class='row'>
    <div class="col-xs-6">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{subchild.get_full_name}}</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered">
					<thead>
						
    					<th>Модуль</th>
    					<th>Оценка</th> 
    					{% if user.is_dist %}
    					<th></th>
    					{% endif %}
					</thead>
					<tbody>
					    {% for module, mark in modules_marks %}
					    <tr>
						    <td>{{module}}</td>
						    {% if mark >= 0 and mark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{mark}}%</td>
							{% elif mark >= 71 and mark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{mark}}%</td>
							{% elif mark >= 81 and mark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{mark}}%</td>
							{% else %}
							<td align='center'>Не пройден</td>
							{% endif %}
						    {% if user.is_dist %}
						    <td><a href='/tests/full-testinfo/{{subchild.id}}/{{ptest.id}}/{{module.id}}/'>Подробнее</a></td>
						    {% endif %}
						    {% endfor %}
					    </tr>
					    <tr>
					        <td><b>Итоговая оценка</b></td>
					        {% if ptest_result >= 0 and ptest_result <= 70 %}
					        <td align='center' bgcolor='FAD1DB'><b>{{ptest_result}}%</b></td>
					        {% elif ptest_result >= 71 and ptest_result <= 80 %}
					        <td align='center' bgcolor='FFFFA6'><b>{{ptest_result}}%</b></td>
					        {% elif ptest_result >= 81 and ptest_result <= 100 %}
					        <td align='center' bgcolor='B5FFBA'><b>{{ptest_result}}%</b></td>
					        {% else %}
					        <td align='center'><b>Не пройден</b></td>
					        {% endif %}
					    </tr>
					  
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
    
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}