{% extends 'users/index.html' %}
{% load mytags %}
{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{ptest.test}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests/full-testinfo/{{ptest.id}}/">Тестирование</a>
	<a href="/tests/modules_results/{{subchild.id}}/{{ptest.id}}/">Модули</a>
</div>

<div class='row'>
    <div class="col-xs-6">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{subchild.get_full_name}}</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<th colspan='2'>Вопрос</th>
    					<th width='40px'>Правильный?</th>
    					<th width='40px'>Отмеченный</th> 
					</thead>
					<tbody>
					    {% for question, answers, mark in questions_info %}
					    <tr>
					        <td colspan='4'><b>
					        	{% autoescape off %}
					        	{{question}}</b>
					        	{% endautoescape %}
					        </td>
					    </tr>
					    
					    {% for answer in answers %}
					    <tr>
					        <td colspan='2'>{{answer.answer}}</td>
					        {% if answer.answer.correct %}
					        <td>Да</td>
					        {% else %}
					        <td>Нет</td>
					        {% endif %}
					        {% if answer.checked %}
					        <td>Да</td>
					        {% else %}
					        <td>Нет</td>
					        {% endif %}
					    </tr>
					    {% endfor %}

					    <tr>
					        <td colspan='4'><b>{{mark}} %</b></td>
					    </tr>

					    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
    
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}