{% extends 'users/index.html' %}
{% load mytags %}
{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% if user.is_dist %}
{% include 'users/dist_menu.html' %}
{% elif user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{ptest.test}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests/full-testinfo/{{ptest.id}}/">Тестирование</a>
	<a href="#">Модули</a>
</div>

<div class='row'>
    <div class="col-xs-6">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{subchild.get_full_name}}</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						
    					<th>Модуль</th>
    					<th>Оценка</th> 
    					{% if user.is_dist %}
    					<th></th>
    					{% endif %}
					</thead>
					<tbody>
					    {% for module, mark in modules_marks %}
					    <tr>
						    <td>{{module}}</td>
						    {% if mark %}
						    <td>{{mark}}%</td>
						    {% elif mark == 0 %}
						    <td>{{mark}}</td>
						    {% else %}
						    <td>Не пройден</td>
						    {% endif %}
						    {% if user.is_dist %}
						    <td><a href='/tests/full-testinfo/{{subchild.id}}/{{ptest.id}}/{{module.id}}/'>Подробнее</a></td>
						    {% endif %}
						    {% endfor %}
					    </tr>
					    <tr>
					        <td><b>Итоговая оценка</b></td>
					        {% if ptest_result %}
					        <td><b>{{ptest_result}}%</b></td>
					        {% else %}
					        <td><b>Не пройден</b></td>
					        {% endif %}
					    </tr>
					  
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
    
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}