{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% include 'users/dealer_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{ptest.test}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/testlist' class='tip-bottom'>Информация о тестированиях</a>
</div>


<div class='row'>
	<div class='col-sm-12'><br><br>
		<table id='fullinfo' class='table table-striped table-bordered'>
	        <thead>
				<th>ФИО</th>
				<th>Общая оценка за тестирование</th>
				<th></th>
	        </thead>
	        <tbody>
	        {% for child, result in results %}
	        <tr>
	            <td width='60%'>{{child.get_full_name}}</td>
	            <td width='20%'>{{result}}</td>
	            <td width='20%' align='center'><a href='/tests/modules_results/{{child.id}}/{{ptest.id}}/' class='btn btn-purple btn-xs'>Подробнее</a></td>
	        </tr>
	        {% endfor %}
	        </tbody>
	    </table>
		   
	</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#fullinfo').DataTable();
} );
$('#fullinfo').DataTable( {
    paging: false
} );
</script>
{% endblock %}