{% extends 'users/index.html' %}
{% load mytags %}
{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Модули к {{p_test.test}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests">Тестирование</a>
	<a href="/tests/info/{{p_test.id}}">Правила тестирования</a>
	<a href="/tests/modules/{{p_test.id}}">Модули</a>
</div>

<div class='row'>
    <div class="col-xs-6">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>{{user.get_full_name}}</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered">
					<thead>
						
						<th colspan='2'>Модуль</th>
						
					</thead>
					<tbody>
					    {% for module in modules %}
						<tr>
							<td align='center' width='80%'>{{module.name}}</td>
							{% if marks|result:module.id >= 0  and marks|result:module.id <= 70 %}
							<td align='center' bgcolor='FAD1DB'>
								{{marks|result:module.id }}%
							</td>
							{% elif not marks|result:module.id %}
							<td align='center'>
								<a href='/tests/question/{{p_test.id}}/{{module.id}}' class="btn btn-purple btn-xs">Начать прохождение</a>
							</td>
							{% elif marks|result:module.id == -1 %}
							<td align='center'>
								<p>Время на тест истекло</p>
							</td>
							
							{% elif marks|result:module.id >= 71  and marks|result:module.id <= 80 %}
							<td align='center' bgcolor='FFFFA6'>
								{{marks|result:module.id }}%
							</td>
							{% elif marks|result:module.id >= 81  and marks|result:module.id <= 100 %}
							<td align='center' bgcolor='B5FFBA'>
								{{marks|result:module.id }}%
							</td>
							{% endif %}
							
							
						</tr>
						{% endfor %}
						{% if mainmark %}
						<tr>
							<td align='center'><b>Итоговая оценка</b></td>
							{% if mainmark >= 0 and mainmark <= 70 %}
							<td align='center' bgcolor='FAD1DB'>{{mainmark}}%</td>
							{% elif mainmark >= 71 and mainmark <= 80 %}
							<td align='center' bgcolor='FFFFA6'>{{mainmark}}%</td>
							{% elif mainmark >= 81 and mainmark <= 100 %}
							<td align='center' bgcolor='B5FFBA'>{{mainmark}}%</td>
							{% endif %}
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% if p_test.for_elearning and mainmark >= 0 %}
<div class='row'>
    <div class="col-xs-6">
    	<a href='/elearning/course/{{pcourse.id}}' class='btn btn-success'>Перейти к курсу дистанционного обучения</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}