{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<script src="/static/js/highcharts/js/highcharts.js"></script>
<script src="/static/js/highcharts/js/highcharts-3d.js"></script>
<script src="/static/js/highcharts/js/modules/exporting.js"></script>
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/test-list' class='tip-bottom'>Информация о тестированиях</a>
	<a href='/tests/statistics/{{ptest.id}}'>Статистика тестирования</a>
	<a href='/tests/statistics/{{ptest.id}}/{{module.id}}'>Статистика по модулю</a>
</div>


<div class='row'>
	<div class='col-sm-6'>
		    <div class="widget-box">
		    	
		       
		        
		        <div class="widget-content nopadding">
		        	<table class="table table-bordered table-striped table-hover">
			            <thead>
								<th colspan='2'>{{module}}</th>
			            </thead>
			            <tbody>
			                	<tr>
			                	    <td align='center' width="70%">Максимум вопросов</td>
			                	    <td align='center'>{{questions.count}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Средняя оценка по тестированию</td>
			                	    <td align='center'>{{middle_module_mark}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Минимальная оценка по тестированию</td>
			                	    <td align='center'>{{min_module_mark}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Максимальная оценка по тестированию</td>
			                	    <td align='center'>{{max_module_mark}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Среднее время затраченное на модуль</td>
			                	    <td align='center'>{{middle_module_time}} сек.</td>
			                    </tr>
			                   
			            </tbody>
			        </table>
		        </div>
		        
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-6'>
		    <div class="widget-box">
		    	
		       
		        
		        <div class="widget-content nopadding">
		        	<table class="table table-bordered table-striped table-hover">
			            <thead>
								<th width="70%">Вопросы модуля</th>
								<th>Среднее затраченное время</th>
								<th>Процент правильных ответов</th>
			            </thead>
			            <tbody>
			                {% for question, persent, time in question_times %}
			                	<tr>
			                	    <td align='center'><a href='/tests/statistics/{{ptest.id}}/{{module.id}}/{{question.id}}'>{% autoescape off %}{{question}}{% endautoescape %}</a></td>
			                	    <td>{{time}} сек.</td>
			                	    <td>{{persent}}</td>
			                    </tr>
			                {% endfor %}
			                   
			            </tbody>
			        </table>
		        </div>
		        
		</div>
	</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>

{% endblock %}