{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/test-list/' class='tip-bottom'>Информация о тестированиях</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
		    <div class="widget-box">
		    	
		        <div class="widget-title">
		            <a href="#">
		                <span class="icon"><i class="fa fa-globe"></i></span><h4>Информация о тестированиях</h4>
		            </a>
		        </div>
		        
		        <div class="widget-content">
		        	<table class="table table-bordered table-striped table-hover with-check">
			            <thead>
			                <tr>
								<th>Название тестирования</th>
								<th>Дата проведения тестирования</th>
								<th>Подробная информация</th>
			                </tr>
			            </thead>
			            <tbody>
			                {% for ptest in ptests %}
			                <tr>
			                    <td align='center' style='width: 45%'>{{ ptest.test }}</td>
			                    <td align='center' style='width: 45%'>{{ ptest.date_start }} - {{ptest.date_end}}</td>
			                    <td align='center'><a class='btn btn-success' href='/tests/full-testinfo/{{ptest.id}}'>Просмотреть</a></td>
			                </tr>
			                {% endfor %}
			            </tbody>
			        </table>
		        </div>
		        
	
	</div>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}