{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}

<div id="content-header" class="mini">
	<h1>Вопрос </h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests">Тестирование</a>

</div>
<div class='row'>
    <div class="col-xs-12">
    	<h4>Вопрос {{question_num}} из {{max_questions}}</h4>
    </div>
</div>
<div class='row'>
    <div class="col-xs-6">
		<form method='post' name='answers'>
			{% csrf_token %}
			{% autoescape off %}
			<p>{{question.text}}</p>
			{% endautoescape %}
			<input type='hidden' name='question.id' value='{{question.id}}'>
			<div class='input-group'>
			{% for answer in question.answers.all %}
			{% if question.type_of_choise.id == 1 %}
				<input type='checkbox' name='ans[]' value='{{answer.id}}'>    {{answer.text}}<br>
			{% else %}
				<input type='radio' name='ans[]' value='{{answer.id}}'>     {{answer.text}}<br>
			{% endif %}
			{% endfor %}
			</div>
			<input type='submit' value='Отправить'>
		</form>
	</div>
	
	<div class="col-xs-6">
		
		<span id="timer" style="color: #666; font-size: 2em; font-weight: bold; background-color: #eaeaea; box-shadow: 0 0 1px #ffffff; border: 1px solid #d6d6d6; padding: 7px 14px; float: right;">{{timer}}</span>
		
 
	</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src="/static/js/timer.js"></script>
<script type='text/javascript'>startTimer()</script>
{% endblock %}