{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<script src="/static/js/highcharts/js/highcharts.js"></script>
<script src="/static/js/highcharts/js/highcharts-3d.js"></script>
<script src="/static/js/highcharts/js/modules/exporting.js"></script>
{% endblock %}

{% block menu %}

{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/test-list' class='tip-bottom'>Информация о тестированиях</a>
	<a href='/tests/statistics/{{ptest.id}}'>Статистика тестирования</a>
	<a href='/tests/statistics/{{ptest.id}}/{{module.id}}'>Статистика по модулю</a>
	<a href='/tests/statistics/{{ptest.id}}/{{module.id}}/{{question.id}}'>Статистика по вопросу</a>
</div>


<div class='row'>
	<div class='col-sm-6'>
		    <div class="widget-box">
		    	
		       
		        
		        <div class="widget-content nopadding">
		        	<table class="table table-bordered table-striped table-hover">
			            <thead>
								<th colspan='2'>{% autoescape off %} {{question}} {% endautoescape %}</th>
			            </thead>
			            <tbody>
			                    <tr>
			                	    <td align='center' width="70%">Всего ответов</td>
			                	    {% if total_answers %}
			                	    <td align='center'>{{total_answers}}</td>
			                	    {% endif %}
			                    </tr>
			                    <tr>
			                    	{% if middle_time %}
			                	    <td align='center'>Среднее время ответа</td>
			                	    <td align='center'>{{middle_time}} сек.</td>
			                	    {% endif %}
			                    </tr>
			                    <tr>
			                    	{% if total_correct %}
			                	    <td align='center'>Процент правильных ответов</td>
			                	    <td align='center'>{{total_correct}}%</td>
			                	    {% endif %}
			                    </tr>
			            </tbody>
			        </table>
		        </div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-sm-6'>
		    <div class="widget-box">
		    	
		       
		        
		        <div class="widget-content nopadding">
		        	<table class="table table-bordered table-striped table-hover">
			            <thead>
								<th width="70%">Ответы</th>
								<th>Правильный</th>
								<th>Количество отмеченных ответов</th>
			            </thead>
			            <tbody>
			                {% for answer, persent in answers_persents %}
			                	<tr>
			                	    <td align='center'>{{answer}}</a></td>
			                	    <td align='center'>{% if answer.correct %}Да{% else %}Нет{% endif %}</td>
			                	    {% if persent %}
			                	    <td align='center'>{{persent}} %</td>
			                	    {% else %}
			                	    <td align='center'>0%</td>
			                	    {% endif %}
			                    </tr>
			                {% endfor %}
			                   
			            </tbody>
			        </table>
		        </div>
		        
		</div>
	</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>

{% endblock %}