{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />


{% endblock %}

{% block menu %}

{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}

<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/test-list' class='tip-bottom'>Информация о тестированиях</a>
	<a href='/tests/statistics/{{ptest.id}}'>Статистика тестирования</a>
</div>


<div class='row'>
	<div class='col-sm-6'>
		    <div class="widget-box">
		    	
		       
		        
		        <div class="widget-content nopadding">
		        	<table class="table table-bordered table-striped table-hover">
			            <thead>
			                
								<th colspan='2'>{{ptest.test}}</th>
								
								
			                
			            </thead>
			            <tbody>
			                	<tr>
			                	    <td align='center' width="70%">Всего пользователей</td>
			                	    <td align='center'>{{total_users}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Средняя оценка по тестированию</td>
			                	    <td align='center'>{{middle_test_mark}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Минимальная оценка по тестированию</td>
			                	    <td align='center'>{{min_test_mark}}</td>
			                    </tr>
			                    <tr>
			                	    <td align='center'>Максимальная оценка по тестированию</td>
			                	    <td align='center'>{{max_test_mark}}</td>
			                    </tr>
			                   
			            </tbody>
			        </table>
		        </div>
		        
		</div>
	</div>
</div>
	<div class='row'>
		<div class="col-sm-6">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-th"></i>
                </span>
                <h5>Модули {{ptest.test}}</h5>
                <span class="label label-info"></span>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                           <th width='70%'>Название модуля</th>
                           <th>Средняя оценка</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for module, mark in module_marks %}
                        <tr>
                            <td align='center'><a href='/tests/statistics/{{ptest.id}}/{{module.id}}'>{{module}}</a></td>
                            <td align='center'>{{mark}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
		

<div class='row'>
	<div class='col-sm-12'>
		<div id="hystogram"></div>
	</div>
</div><br>


{% endblock %}

{% block js_inc %}
<script src="/static/js/highcharts/js/highcharts.js"></script>
<script src="/static/js/highcharts/js/highcharts-3d.js"></script>
<script src="/static/js/highcharts/js/modules/exporting.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $('#hystogram').highcharts({

        chart: {
            type: 'column'
        },
        title: {
            text: 'Статистика оценок'
        },
        subtitle: {
            text: 'Статистика оценок'
        },

        xAxis: {
            categories: ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100'],
            crosshair: true
        },

        yAxis: {
            min: 0,
            title: {
                text: 'Количество оценок'
            }
        },

       tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },

        plotOptions: {
            columnrange: {
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.y + '°C';
                    }
                }
            }
        },

        legend: {
            enabled: false
        },

        series: [{
            name: 'Количество пользователей',
            data: [{{x1|escapejs}}, {{x2|escapejs}}, {{x3|escapejs}}, {{x4|escapejs}}, {{x5|escapejs}}, {{x6|escapejs}}, {{x7|escapejs}}, {{x8|escapejs}}, {{x9|escapejs}}, {{x10|escapejs}}]

        }]

    });

});
</script>


{% endblock %}