{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список доступных тестирований</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests">Тестирование</a>
</div>

<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Доступные тесты</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Название теста</th>
							<th>Количество модулей</th>
							<th>Дата начала и окончания</th>
							<th>Начать прохождение</th>
						</tr>
					</thead>
					<tbody>
					    {% for test in tests %}
						<tr>
							<td align='center'>{{test.test}}</td>
							<td align='center'>{{test.test.modules.count}}</td>
							<td align='center'>{{test.date_start}} - {{test.date_end}}</td>
							<td align='center'><a href='/tests/info/{{test.id}}' class="btn btn-purple btn-xs">Перейти к тестированию</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
    
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}