{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Правила прохождения тестирования</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/tests">Тестирование</a>
	<a href="/tests/info">Правила прохождения тестирования</a>
</div>

<div class='row'>
    <div class="col-xs-12">
   		{% autoescape off %}
       	{{p_test.rules}}
       	{% endautoescape %}
       	{% if p_test.type_of_testing.id == 2 or not p_test.type_of_testing %}
       	<p align="right"><a href='/tests/modules/{{p_test.id}}' class="btn btn-purple btn-xs">Перейти к тестированию</a></p>
       	{% elif p_test.type_of_testing.id == 1 %}
       	<p align="right"><a href='/tests/modules_q/{{p_test.id}}' class="btn btn-purple btn-xs">Перейти к тестированию</a></p>
       	{% endif %}
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}