<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/css/jquery.jscrollpane.css" />	
		<link rel="stylesheet" href="/static/css/unicorn.css" />
		{% block css_inc %}
		{% endblock %}
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">Unicorn Admin</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	            	
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile ({% block user %}{% endblock %})</span></a></li>
	                <li class="btn"><a title="" href="/logout/"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
	            </ul>
	        </div>
	       
			<div id="sidebar">
				<ul>
					<li class="active"><a href="/"><i class="fa fa-home"></i> <span>Мой профиль</span></a></li>
					<li class="submenu">
						<a href="#"><i class="fa fa-flask"></i> <span>Обучение</span></a>
						<ul>
							<li><a href="/elearning/list">Дистанционное</a></li>
							<li><a href="jquery-ui.html">Тренинги</a></li>
						</ul>
					</li>
				
					<li><a href="#"><i class="fa fa-th"></i> <span>Тестирование</span></a></li>
				</ul>
			
			</div>
			
			<div id="content">
				<div id="content-header" class="mini">
					<h1>Пользователи</h1>
				</div>
			
				{% block content %}
				{% endblock %}

			</div>
			<div class="row">
				<div id="footer" class="col-xs-12">
					2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
				</div>
			</div>
		</div>


            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/jquery-ui.custom.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>

            <script src="/static/js/jquery.nicescroll.min.js"></script>
            <script src="/static/js/unicorn.js"></script>
            {% block js_inc %}
			{% endblock %}

            
	</body>
</html>
