{% extends 'base_dealer.html' %}
{% block user %} {{user.get_full_name}} {% endblock %}
{% block css_inc %}
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/icheck/flat/blue.css" />
<link rel="stylesheet" href="css/select2.css" />		
<link rel="stylesheet" href="css/unicorn.css" />
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/dealer" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Главная</a>
</div>
{% endblock %}

{% block js_inc %}
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/unicorn.tables.js"></script>
{% endblock %}