{% extends 'base_dist.html' %}
{% block user %} {{user.get_full_name}} {% endblock %}
{% block css_inc %}
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/icheck/flat/blue.css" />
<link rel="stylesheet" href="css/select2.css" />		
<link rel="stylesheet" href="css/unicorn.css" />
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список сотрудников</h1>
</div>
<div id="breadcrumb">
	<a href="/distributor" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="#" class="current">Список сотрудников</a>
</div>

<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Все дилеры</h5>
        <span class="label label-info"></span>
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover with-check">
            <thead>
                <tr>
                    <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
					<th>ФИО</th>
					<th>Дилер</th>
					<th>Основная должность</th>
					<th>Уровень обученности</th>
					<th>Последний визит</th>
					
                </tr>
            </thead>
            <tbody>
                {% for child in user.childs.all %}
                {% for user in child.childs.all %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a href="/duser/{{user.id}}">{{user.get_full_name}}</a></td>
                    <td>{{child.title}}</td>
                    <td>{{user.job}}</td>
                    <td>0-100%</td>
                    <td>{{child.last_login}}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/unicorn.tables.js"></script>
{% endblock %}