{% extends 'base_dist.html' %}
{% block css_inc %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Кабинет</h1>
</div>
<div id="breadcrumb">
	<a href="/dealer" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Главная</a>
</div>



{% endblock %}

{% block js_inc %}
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/unicorn.tables.js"></script>
{% endblock %}