
<div id="sidebar">
	<ul>
		<li class="active">
		    <a href="/"><i class="fa fa-home"></i> <span>Мой профиль</span></a>
		</li>
		
		<li class="submenu">
			<a href="#"><i class="fa fa-flask"></i> <span>Обучение</span></a>
			<ul>
				<li><a href="/elearning/list">Дистанционное</a></li>
				<li><a href="/trainings/">Тренинги</a></li>
			</ul>
		</li>
	
		<li>
		    <a href="/tests"><i class="fa fa-th"></i> <span>Тестирование</span></a>
		</li>
	</ul>
</div>
