{% extends 'base.html' %}
{% block user %} {{user.get_full_name}} {% endblock %}
{% block css_inc %}
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/icheck/flat/blue.css" />
<link rel="stylesheet" href="css/select2.css" />		
<link rel="stylesheet" href="css/unicorn.css" />
{% endblock %}

{% block content %}

<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
	<a href="#" class="current">Dashboard</a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3>{{user.get_full_name}}</h3>
        </div>
        <div class="col-sm-9">
        <div class="widget-box">
            <table class="table table-bordered table-striped table-hover">
					
					
				    <tbody>
						<tr>
							<td width='25%'>Фамилия</td>
							<td>{{user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</th>
							<td>{{user.fathers_name}}</td>
						</tr>
						<tr>
							<td>Дилер</th>
							<td>{{user.parentId.title}}</td>
						</tr>
						<tr>
							<td>Дистрибьютор</th>
							<td>{{user.parentId.parentId.title}}</td>
						</tr>
						<tr>
							<td>Должность</th>
							<td>{{user.job}}</td>
						</tr>
						<tr>
							<td>E-mail</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Город</th>
							<td>{{user.city}}</td>
						</tr>
						<tr>
							<td>Телефон</th>
							<td>{{user.phone}}</td>
						</tr>
						<tr>
							<td>Последний визит</th>
							<td>{{user.last_login}}/{{vis}}</td>
						</tr>
						<tr>
							<td>Уровень обученности</th>
							<td></td>
						</tr>
					
				</table>
				</div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/unicorn.tables.js"></script>
{% endblock %}