{% extends 'base_dealer.html' %}
{% block user %} {{user.get_full_name}} {% endblock %}
{% block css_inc %}
<link rel="stylesheet" href="css/jquery-ui.css" />
<link rel="stylesheet" href="css/icheck/flat/blue.css" />
<link rel="stylesheet" href="css/select2.css" />		
<link rel="stylesheet" href="css/unicorn.css" />
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{user.get_full_name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/dealer" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Главная</a>
	<a href="/dealerlist" class="tip-bottom"><i class="fa fa-home"></i>Список пользователей</a>
	<a href="#" class="current">Информация о пользователе</a>
</div>
    <div class="row">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-9">
            <div class="widget-box">
                
                <div class="widget-content">
                    <table class="table table-bordered table-striped table-hover with-check">
                        <tbody>
                        <tr>
							<td width='25%'>Фамилия</td>
							<td>{{user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</th>
							<td>{{user.fathers_name}}</td>
						</tr>
						<tr>
							<td>Дилер</th>
							<td>{{user.parentId.title}}</td>
						</tr>
						<tr>
							<td>Дистрибьютор</th>
							<td>{{user.parentId.parentId.title}}</td>
						</tr>
						<tr>
							<td>Должность</th>
							<td>{{user.job}}</td>
						</tr>
						<tr>
							<td>E-mail</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Город</th>
							<td>{{user.city}}</td>
						</tr>
						<tr>
							<td>Телефон</th>
							<td>{{user.phone}}</td>
						</tr>
						<tr>
							<td>Последний визит</th>
							<td>{{user.last_login}}</td>
						</tr>
						<tr>
							<td>Уровень обученности</th>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div>
        
    </div>

{% endblock %}

{% block js_inc %}
<script src="js/select2.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/unicorn.tables.js"></script>
{% endblock %}