{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}


{% block menu %}

{% include 'users/regmanager_menu.html' %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Просмотр категорий отчета</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Главная</a>
	<a href="#" title="Go to Home" class="tip-bottom">Просмотр категорий отчета</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
	    <h3>Выбранный дилер: <a href='/checklist/dealer/{{dealer.id}}/'>{{dealer.short_title}}</a></h3>
		<table class="table table-bordered table-hover">
        	<thead>
        		<tr>
            		<th><h4><b>Название параметра</b></h4></th>
            		<th><h4>Последние оценки</h4></th>
            		<th><h4>Последнее добавление данных</h4></th>
        			<th><h4><b></b></h4></th>
        		</tr>
        	</thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td align="center"><h4>{{category.sequense_number}}. {{ category.name }}</h4></td>
                    {% if category_marks|keyvalue:category.name > 0 %}
                    <td align="center">{{category_marks|keyvalue:category.name}}%</td>
                    {% else %}
                    <td align="center">Отчет отсутствует</td>
                    {% endif %}
                </tr>
                {% for subcat in category.subcategories.all %}
                <tr>
                    <td>{{category.sequense_number}}.{{subcat.sequense_number}}. {{subcat}}</td>
                    {% if subcategory_marks|keyvalue:subcat.name > 0 %}
                    <td align="center">{{subcategory_marks|keyvalue:subcat.name}}%</td>
                    {% else %}
                    <td align="center">-</td>
                    {% endif %}
                    <td align='center'>{{report_dates|keyvalue:subcat.name}}</td>
                    <td align="center">
                             <a href="/checklist/report/{{dealer.id}}/{{category.id}}/{{subcat.id}}" class="btn btn-default">Добавить данные</a>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>


{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}