{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
{% endblock %}


{% block menu %}

{% include 'users/dist_menu.html' %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
    <h1 style="position: relative; text-align: left;">Общая информация</h1>
    
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Кабинет</a>
	<a href="/checklist/comparison/" class="current">Список сотрудников</a>
</div>


<div class='row'>
    <div class='col-sm-3'>
        <h3>Выбор количества дилеров для сравнения:</h3>
    </div>
    <div class='col-sm-3'>
        <select>
            <option id="two" change="showTable_2()">2</option>
            <option id="three" onclick="showTable_3()">3</option>
            <option id="four" onclick="showTable_4()">4</option>
        </select>
        <br> <br> <br>
        <button id="two" onclick="showTable_2()">2</button>
         <button id="three" onclick="showTable_3()">3</button>
          <button id="four" onclick="showTable_4()">4</button>
    </div>
</div>

        <div class="row">
            <div class="col-sm-12">
        <table id="table" class="table table-bordered table-striped table-hover">
            <thead>
                <th>Название показателя</th>
                <th>
                    <select>
                        {% for dealer in dealers %}
                        <option>{{dealer.title}}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select>
                        {% for dealer in dealers %}
                        <option>{{dealer.title}}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select>
                        {% for dealer in dealers %}
                        <option>{{dealer.title}}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select>
                        {% for dealer in dealers %}
                        <option>{{dealer.title}}</option>
                        {% endfor %}
                    </select>
                </th>

            </thead>
            <tbody>
                <tr>
                    <td>По 3 строки</td>
                    <td>Для каждого строки</td>
                    <td>Ниже пример</td>
                    <td>Тут пока просто 8==0</td>
                    <td>Тут пока просто 8==0</td>
                </tr>
                <tr>
                    <td>Показатель неебической важности</td>
                    <td>Оценка первого дебила</td>
                    <td>Оценка второго дебила</td>
                    <td>Оценка третьего дебила</td>
                    <td>Оценка четвертого дебила</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
    function showTable_2() {
        $('#table tbody td, #table thead th').show();
        $("#table thead th:nth-child(" + 4 + "), #table thead th:nth-child(" + 5 + "), #table tbody td:nth-child(" + 4 + "), #table tbody td:nth-child(" + 5 + ")").hide();
    };

    function showTable_3() {
        $('#table tbody td, #table thead th').show();
        $("#table thead th:nth-child(" + 5 + "), #table tbody td:nth-child(" + 5 + ")").hide();
    };

    function showTable_4() {
        $('#table tbody td, #table thead th').show();
    };
</script>
{% endblock %}