{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />


{% endblock %}


{% block menu %}

{% include 'users/dist_menu.html' %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
    <h1 style="position: relative; text-align: left;">Сравнение показателей</h1>
    
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Кабинет</a>
	<a href="/checklist/info/" class="current">Общая информация</a>
	<a href='/checklist/dealer_comparison/' class='current'>Сравнение показателей</a>
</div>


<div class='row col-sm-12'>
    
    <div class='col-sm-3 control-label'>
        <label>Выбор дилеров для сравнения:</label>
    </div>
    
    <form action='/checklist/dealer_comparison/' method='post'>
        {% csrf_token %}
    
    <div class='col-sm-9'>
        
    <div class="select2-container">
    
    
        <select name='dealer[]' class='select'>
            <option class='' value='0'></option>
            {% for dealer in dealers %}
            <option class='' value='{{dealer.id}}'{% if dealer == dealers_list.0 %} selected {% endif %}>{{dealer.short_title}}</option>
            {% endfor %}
        </select>
    
        <select name='dealer[]' class='select'>
            <option class='' value='0'></option>
            {% for dealer in dealers %}
            <option class='' value='{{dealer.id}}'{% if dealer == dealers_list.1 %} selected {% endif %}>{{dealer.short_title}}</option>
            {% endfor %}
        </select>
    
        <select name='dealer[]' class='select'>
            <option class='' value='0'></option>
            {% for dealer in dealers %}
            <option class='' value='{{dealer.id}}'{% if dealer == dealers_list.2 %} selected {% endif %}>{{dealer.short_title}}</option>
            {% endfor %}
        </select>
    
        <select name='dealer[]' class='select'>
            <option class='' value='0'></option>
            {% for dealer in dealers %}
            <option class='' value='{{dealer.id}}'{% if dealer == dealers_list.3 %} selected {% endif %}>{{dealer.short_title}}</option>
            {% endfor %}
        </select>
    
    
    </div>
    </div>
    
    <div class='row'>
        <div class='col-sm-12'>
            <input position="" type='submit' class='btn btn-success' value='Сравнить'>
        </div>
    </div>
    
    </form>
</div>
<br>
{% if dealers_list %}
<div class='row'>
    <div class='col-sm-11'>
        <table class='table table-hover table-bordered'>
            <thead>
                <th>Наименование показателя</th>
                {% for dealer in dealers_list %}
                <th>{{dealer.short_title}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td><b>{{category.name}}</b></td>
                    {% for result in dealer_cat_results %}
                    {% if result|keyvalue:category.name >= 0 %}
                    <td><b>{{result|keyvalue:category.name}}%</b></td>
                    {% else %}
                    <td><b>Результат отсутствует</b></td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% for subcategory in category.subcategories.all %}
                <tr>
                    <td>{{subcategory.name}}</td>
                    {% for result in dealer_sub_results %}
                    {% if result|keyvalue:subcategory.name >= 0 %}
                    <td>{{result|keyvalue:subcategory.name}}%</td>
                    {% else %}
                    <td>Результат отсутствует</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% for point in subcategory.points.all %}
                <tr>
                    <td>{{point}}</td>
                    {% for result in dealer_results %}
                    {% if result|keyvalue:point.id > 0%}
                    <td><span class="badge badge-success">✓</span></td>
                    {% elif result|keyvalue:point.id == 0 %}
                    <td><span class="badge badge-danger">✘</span></td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endfor %}
                {% endfor %}
                
                
            </tbody>
        </table>
    </div>
</div>
{% endif %}






{% endblock %}

{% block js_inc %}

<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
  $('.select').select2();
</script>
{% endblock %}