{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="/static/js/highcharts/js/highcharts.js"></script>
<script src="/static/js/highcharts/js/highcharts-3d.js"></script>
<script src="/static/js/highcharts/js/modules/exporting.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $('#hystogram').highcharts({

        chart: {
            type: 'column'
        },
        title: {
            text: 'Статистика оценок'
        },
        subtitle: {
            text: 'Статистика оценок'
        },

        xAxis: {
            categories: ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100'],
            crosshair: true
        },

        yAxis: {
            min: 0,
            title: {
                text: 'Количество оценок'
            }
        },

       tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },

        plotOptions: {
            columnrange: {
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.y + '°C';
                    }
                }
            }
        },

        legend: {
            enabled: false
        },

        series: [{
            name: 'Количество пользователей',
            data: []

        }]

    });

});
		</script>
{% endblock %}


{% block menu %}
{% include 'users/dealer_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список отчетов</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/checklist/dealer-reports/' class='tip-bottom'>Список отчетов</a>
</div>


<div class='row'>
    <div class='col-sm-12'>
    <h3>{{user.short_title}}</h3><br>
    <h3>Последнее обновление: {{date}}</h3>
        <table id='reports' class='table table-hover table-bordered'>
            <thead>
               <th></th>
               <th>Оценка</th>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td><h4>{{category.sequense_number}}. {{category.name}}</h4></td>
                    {% if cat_results|keyvalue:category.name >= 0 %}
                    <td>{{cat_results|keyvalue:category.name}}%</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    
                </tr>
                {% for subcategory in category.subcategories.all %}
                <tr>
                    <td><h5>{{category.sequense_number}}.{{subcategory.sequense_number}}. {{subcategory.name}}</h5></td>
                    {% if subs_results|keyvalue:subcategory.name >= 0 %}
                    <td>{{subs_results|keyvalue:subcategory.name}}%</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% for point in subcategory.points.all %}
                <tr>
                    <td>{{category.sequense_number}}.{{subcategory.sequense_number}}.{{point.sequense_number}}. {{point.name}}</td>
                    {% if results|keyvalue:point.name > 0%}
                    <td><span class="badge badge-success">✓</span></td>
                    {% elif results|keyvalue:point.name == 0 %}
                    <td><span class="badge badge-danger wrong-answers" data-toggle='tooltip' data-placement="bottom" title='{{comments|keyvalue:point.name}}'>✘</span></td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <tr>
                    <td><b>Общая оценка по отчету</b></td>
                    {% if report_result >= 0 %}
                    <td >{{report_result}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if table %}
<div class='row'>
    <div class='col-sm-12'>
        <table class='table table-bordered'>
            <thead>
                <th>Порядковый номер</th>
                <th>Комментарий</th>
                <th>Ответственный</th>
            </thead>
            <tbody>
                {% for category in categories %}
                {% for subcategory in category.subcategories.all %}
                {% for point in subcategory.points.all %}
                {% if results|keyvalue:point.name == 0 %}
                <tr>
                <td><span class="wrong-answers" data-toggle='tooltip' data-placement="right" title='{{point.name}}'>{{category.sequense_number}}.{{subcategory.sequense_number}}.{{point.sequense_number}}</span></td>
                
                {% if comments|keyvalue:point.name %}
                <td>{{comments|keyvalue:point.name}}</td>
                {% else %}
                <td>Комментарий отсутствует</td>
                {% endif %}
                {% if responsible|keyvalue:point.name %}
                <td>{{responsible|keyvalue:point.name}}</td>
                {% else %}
                <td>Ответственный не указан</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
  $('.select').select2();
</script>
<script type='text/javascript'>
    $('.wrong-answers').tooltip()
</script>
{% endblock %}