{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% include 'users/dealer_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1></h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	
</div>


<div class='row'>
	<div class='col-sm-12'>
	    <table id='reports' class='table table-striped table-bordered'>
	        <thead>
				<th>Название показателя</th>
				<th>Оценка</th>
				<th>Комментарий</th>
				<th>Ответственный</th>
	        </thead>
	        <tbody>
	        {% for mark in report.marks.all %}
	        <tr>
	            <td>{{mark.point}}</td>
	            {% if mark.mark %}
	            <td><span class="badge badge-success">✓</span></td>
	            {% else %}
	            <td><span class="badge badge-danger">✘</span></td>
	            {% endif %}
	            {% if mark.comment %}
	            <td width='20%'>{{mark.comment}}</td>
	            {% else %}
	            <td>-</td>
	            {% endif %}
	            {% if mark.responsible %}
	            <td>{{mark.responsible}}</td>
	            {% else %}
	            <td>-</td>
	            {% endif %}
	        </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#reports').DataTable();
} );
$('#reports').DataTable( {
    paging: false
} );
</script>
{% endblock %}