{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">


{% endblock %}


{% block menu %}

{% include 'users/dist_menu.html' %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
    <h1 style="position: relative; text-align: left;">Общая оценка: {% if full_mark >= 0 %}{{full_mark}}%{%else%}Оценка отсутствует{% endif %}</h1>
    
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Кабинет</a>
	<a href="/checklist/info/" class="current">Общая информация</a>
</div>


<div class='row'>
    <div class='col-sm-12'>
        <table id='dealers' class="table table-striped table-bordered">
            <thead>
                <th>Дилер</th>
                {% for category in categories %}
                <th>{{category.name}}</th>
                {% endfor %}
                <th>Общий результат</th>
            </thead>
            <tbody>
                {% for dealer, marks, result in info %}
                <tr class='sort'>
                    <td><a href='/checklist/dealer/{{dealer.id}}/'>{{dealer.short_title}}</a></td>
                    {% for mark in marks %}
                    {% if mark >= 0 %}
                    <td>{{mark}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% endfor %}
                    {% if result >= 0 %}
                    <td>{{result}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>



{% if monthes %}
<div class='row'>
	<div class='col-sm-12'>
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block js_inc %}
		<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
		<script type="text/javascript" charset="utf-8">
		jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;
             
                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
              };
             
              jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;
             
                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
              };
			$(document).ready(function() {
				$('#dealers').dataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "iDisplayLength": 25,
                "language": {
                    "paginate": {
                      
                      "next": "Следующая",
                      "previous":   "Предыдущая",
                      
                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
                "columnDefs": [
                { "type": "percent", targets: [1,4,3,2,5]},
            ],
            
        } );
			} );
		
	
		</script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>	
<script type='text/javascript'>
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Средние оценки',
            x: -20 //center
        },
        subtitle: {
            text: 'Средние оценки',
            x: -20
        },
        xAxis: {
            {% autoescape off %}
            categories: {{monthes}}
            {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Оценка'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' %'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        {% autoescape off %}
        series: [
            {
            name: 'Общие результаты',
            data: {{marks|escapejs}}
        },
        {% for category, marks in category_results %}
        {
            name: '{{category.name}}',
            data: {{marks|escapejs}}
        }, 
        {% endfor %}
        ]
        {% endautoescape %}
    });
});
</script>
{% endblock %}
