{% extends 'users/index.html' %}

{% block user %}

{{ user.title }}

{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}

<div id="content-header" class='mini'>
	<h1 style="position: relative; text-align: left;">{{manager.title}}</h1>
</div>




<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
</div>


<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9">
        <div class="widget-box">
            <table class="table table-bordered table-striped table-hover">
				    <tbody>
						<tr>
							<td>Должность</td>
							<td>{{manager.title}}</td>
						</tr>
						<tr>
							<td>Регион</td>
							<td>{{region}}</td>
						</tr>
						<tr>
							<td>Телефон</td>
							<td>{{manager.phone}}</td>
						</tr>
						<tr>
							<td>e-mail</td>
							<td>{{manager.email}}</td>
						</tr>
						<tr>
							<td>Последний визит</td>
							{% if manager.last_login %}
							<td>{{manager.last_login}}</td>
							{% else %}
							<td>Посещений не было</td>
							{% endif %}
						</tr>
				</table>
				</div>
        </div>
        <div class="col-sm-3">
            <div class='row'>
            	<img src='{{user.avatar}}'>
            </div>
        </div>
    </div>
</div>
<hr style="border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);">

<div class='row'>
    <div class='col-sm-12'>
        {% if reports_marks %}
        <table class='table table-hover table-bordered'><h3>Отчеты</h3>
            <thead>
               <th>Дилер</th>
               <th>Подкатегория</th>
               <th>Дата</th>
               <th>Оценка</th>
               <th></th>
            </thead>
            <tbody>
                {% for report, mark in reports_marks %}
                <tr>
                    <td>{{report.dealer.short_title}}</td>
                    <td>{{report.subcategory}}</td>
                    <td>{{report.date}}</td>
                    <td>{{mark}} из {{report.marks.count }}</td>
                    <td><a href='/checklist/report/{{report.id}}/' class='btn btn-primary'>Подробнее</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>Отчеты отсутствуют</h4>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}