{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />


{% endblock %}


{% block menu %}
{% if user.is_dist %}
{% include 'users/dist_menu.html' %}
{% else %}
{% include 'users/regmanager_menu.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
    <h1 style="position: relative; text-align: left;">{{dealer.short_title}}</h1>
</div>

<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Кабинет</a>
	{% if user.is_dist %}
	<a href="/checklist/info/" class="current">Общая информация</a>
	{% endif %}
	<a href='/checklist/dealer/{{dealer.id}}/' class='current'>Информация о дилере</a>
</div>

<div class='row'>
    <div class='col-sm-12'>
        {% if user.is_dist %}
        
        {% if date %}
        <br>
        <p>Дата последнего изменения данных: {{date}}</p>
        {% endif %}
        
        
        <a href='/checklist/excel/{{dealer.id}}/' style='float: right;' class='btn btn-primary'>Экспорт</a></p>
       
        {% endif %}
        <table id='dealers' class='table table-hover table-bordered'>
            <thead>
               <th></th>
               <th>Оценка</th>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td><h4>{{category.sequense_number}}. {{category.name}}</h4></td>
                    {% if cat_results|keyvalue:category.name >= 0 %}
                    <td>{{cat_results|keyvalue:category.name}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    
                </tr>
                {% for subcategory in category.subcategories.all %}
                <tr>
                    <td><h5>{{category.sequense_number}}.{{subcategory.sequense_number}}. {{subcategory.name}}</h5></td>
                    {% if subs_results|keyvalue:subcategory.name > 0 %}
                    <td>{{subs_results|keyvalue:subcategory.name}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                {% for point in subcategory.points.all|dictsort:"sequense_number" %}
                <tr>
                    <td>{{category.sequense_number}}.{{subcategory.sequense_number}}.{{point.sequense_number}}. {{point.name}}</td>
                    {% if results|keyvalue:point.id > 0%}
                    <td><span class="badge badge-success">✓</span></td>
                    {% elif results|keyvalue:point.id == 0 %}
                    <td><span class="badge badge-danger wrong-answers">✘</span></td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <tr>
                    <td><b>Общая оценка по отчету</b></td>
                    {% if report_result >= 0 %}
                    <td ><b>{{report_result}}%</b></td>
                    {% else %}
                    <td>Оценка отсутствует</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>

<div class='row'>
    <div class='col-sm-12'>
        <table class='table table-bordered'>
            <thead>
                <th>Порядковый номер</th>
                <th>Комментарий</th>
                <th>Ответственный</th>
            </thead>
            <tbody>
                {% for category in categories %}
                {% for subcategory in category.subcategories.all %}
                {% for point in subcategory.points.all %}
                {% if results|keyvalue:point.id == 0 %}
                <tr>
                <td><span class="wrong-answers" data-toggle='tooltip' data-placement="top" title='{{point.name}}'>{{category.sequense_number}}.{{subcategory.sequense_number}}.{{point.sequense_number}}</span></td>
                
                {% if comments|keyvalue:point.name %}
                <td>{{comments|keyvalue:point.name}}</td>
                {% else %}
                <td>Комментарий отсутствует</td>
                {% endif %}
                {% if responsible|keyvalue:point.name %}
                <td>{{responsible|keyvalue:point.name}}</td>
                {% else %}
                <td>Ответственный не указан</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br>
{% if monthes %}
<div class='row'>
    <div class='col-sm-12'>
        <div id='dealerchart'></div>
    </div>
</div>
<br>
{% endif %}
{% endblock %}

{% block js_inc %}

<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
  $('.select').select2();
</script>
<script type='text/javascript'>
    $('.wrong-answers').tooltip()
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>	
<script type='text/javascript'>
$(function () {
    $('#dealerchart').highcharts({
        title: {
            text: 'Средние оценки',
            x: -20 //center
        },
        subtitle: {
            text: 'Средние оценки',
            x: -20
        },
        xAxis: {
            {% autoescape off %}
            categories: {{monthes}}
            {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Оценка'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' %'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        {% autoescape off %}
        series: [
            
            {
            name: 'Общие результаты',
            data: {{marks|escapejs}}
            },
        
        {% for category, marks in category_lines %}
        {
            name: '{{category.name}}',
            data: [{% for x in marks %} {% if x == '' %} null, {% else %} {{x|escapejs}},{% endif %} {%endfor %}]
        }, 
        {% endfor %}
        ]
        {% endautoescape %}
    });
});
</script>
{% endblock %}