{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">

		

{% endblock %}


{% block menu %}

{% include 'users/dist_menu.html' %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
    <h1 style="position: relative; text-align: left;">Статистика по регионам</h1>
    
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Кабинет</a>
	<a href="/checklist/region-info/" class="current">Статистика по регионам</a>
</div>


<div class='row'>
    <div class='col-sm-12'>
        <table id='region' class='table table-striped table-bordered'>
            <thead>
               <th>Наименование региона</th>
               {% for category in categories %}
               <th>Средние показатели по {{category.name}}</th>
               {% endfor %}
               <th>Средняя оценка по отчету</th>
            </thead>
            <tbody>
                {% for region, cat_res, res in region_marks %}
                <tr>
                    <td><a href='/checklist/region/{{region.id}}/'>{{region.name}}</a></td>
                    {% for result in cat_res %}
                    {% if result >= 0 %}
                    <td>{{result}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    {% endfor %}
                    {% if res >= 0 %}
                    <td>{{res}}%</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<br>
<div class='row'>
    <div class='col-sm-12'>
        <div id='regionchart'></div>
    </div>
</div>



{% endblock %}

{% block js_inc %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
	        
			$(document).ready(function() {
				$('#region').dataTable({
                "paging":   false,
                "iDisplayLength": 25,
                "language": {
                    "paginate": {
                      "first": "Первая",
                      "next": "Следующая",
                      "previous":   "Предыдущая",
                      "last":       "Последняя",
                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
                "columnDefs": [
                { "type": "percent", targets: [1,2,3,4]},
            ],
            
        } );
			} );
		jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;
             
                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
              };
             
              jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;
             
                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
              };
		</script>	
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>	
<script type='text/javascript'>
$(function () {
    $('#regionchart').highcharts({
        title: {
            text: 'Средние оценки',
            x: -20 //center
        },
        subtitle: {
            text: 'Средние оценки',
            x: -20
        },
        xAxis: {
            {% autoescape off %}
            categories: {{monthes}}
            {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Оценка'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' %'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        {% autoescape off %}
        series: [
            
        {% for group, data in data1 %}
        {
            connectNulls: true, 
            name: '{{group.name}}',
            data: [{% for x in data %} {% if x == '' %} null, {% else %} {{x|escapejs}},{% endif %} {% endfor %}]
        }, 
        {% endfor %}
        ]
        {% endautoescape %}
    });
});
</script>
{% endblock %}