{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% if user.is_regmanager %}
{% include 'users/regmanager_menu.html' %}
{% elif user.is_dist %}
{% include 'users/dist_menu.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Архив</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Главная</a>
	<a href="#">Архив</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
	    <table id='archive' class="table table-bordered table-striped table-hover">
			<thead>
			    <th>Наименование отчета</th>
			    <th>Дата</th>
			    <th>Дилер</th>
			    <th>Оценка</th>
			    <th></th>
			</thead>
			<tbody>
			    {% for report, mark in r_marks %}
			    <tr>
			        <td width='20%' align='center' style='vertical-align: middle;'>{{report}}</td>
			        <td width='20%' align='center' style='vertical-align: middle;'>{{report.date}}</td>
			        <td width='20%' align='center' style='vertical-align: middle;'>{{report.dealer.short_title}}</td>
			        <td width='20%' align='center' style='vertical-align: middle;'>{{mark}} из {{report.subcategory.points.count}}</td>
			        <th width='20%' align='center' style='vertical-align: middle;'><a href='/checklist/report/{{report.id}}' class='btn btn-primary'>Просмотреть</a></th>
			    </tr>
			    {% endfor %}
			</tbody>
		</table>
    </div>
</div>

{% endblock %}

{% block js_inc %}
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#archive').DataTable();
} );
$('#archive').DataTable( {
	"paging": true,
    "iDisplayLength": 25,
    "language": {
                    "paginate": {
                      "first": "Первая",
                      "next": "Следующая",
                      "previous":   "Предыдущая",
                      "last":       "Последняя",
                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
} );
</script>
{% endblock %}