{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% if user.is_regmanager %}
{% include 'users/regmanager_menu.html' %}
{% elif user.is_dist %}
{% include 'users/dist_menu.html' %}
{% elif user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Просмотр отчета</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom">Главная</a>
	<a href="/checklist/archive/" title="Go to Home" class="tip-bottom">Архив</a>
	<a href="#" title="Go to Home" class="tip-bottom">Просмотр отчета</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
	    <table id='archive' class="table table-bordered table-striped table-hover">
			<thead>
			    <th colspan='2'><h4>Отчет: {{report.subcategory.category}} {{report.subcategory}}, {{report.dealer.short_title}}</h4></th>
			</thead>
			<tbody>
			    {% for mark in marks %}
			    
			    {% if mark.mark %}
			    <tr>
			        <td width='80%' align='center' style='vertical-align: middle;'>{{report.subcategory.category.sequense_number}}.{{report.subcategory.sequense_number}}.{{mark.point.sequense_number}}. {{mark.point}}</td>
			        <td width='20%' align='center' style='vertical-align: middle;'><span class="badge badge-success">✓</span></td>
			    </tr>
			    {% else %}
			    <tr>
			        <td width='80%' align='center' style='vertical-align: middle;'>{{report.subcategory.category.sequense_number}}.{{report.subcategory.sequense_number}}.{{mark.point.sequense_number}}. {{mark.point}}</td>
			        <td width='20%' align='center' style='vertical-align: middle;'><span class="badge badge-danger">✘</span></td>
			    </tr>
			    {% endif %}
			    {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% if table %}
<hr>
<div class='row'>
	<div class='col-sm-12'>
		<table class='table table-bordered'>
			<thead>
				<th>Порядковый номер</th>
				<th>Комментарий</th>
				<th>Ответственный</th>
			</thead>
			<tbody>
				{% for mark in marks %}
				{% if not mark.mark %}
				<tr>
				<td><span class="wrong-answers" data-toggle='tooltip' data-placement="right" title='{{mark.point.name}}'>{{mark.point.subcategory.category.sequense_number}}.{{mark.point.subcategory.sequense_number}}.{{mark.point.sequense_number}}</span></td>
				{% if mark.comment %}
				<td>{{mark.comment}}</td>
				{% else %}
				<td>Комментарий отсутствует</td>
				{% endif %}
				{% if mark.responsible %}
				<td>{{mark.responsible}}</td>
				{% else %}
				<td>Ответственный не указан</td>
				{% endif %}
				
				{% endif %}
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#archive').DataTable();
} );
$('#archive').DataTable( {
    paging: false
} );
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
  $('.select').select2();
</script>
<script type='text/javascript'>
    $('.wrong-answers').tooltip()
</script>
{% endblock %}