{% extends 'users/index.html' %}
{% load uniquetags %}
{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />



{% endblock %}


{% block menu %}

{% include 'users/regmanager_menu.html' %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Составление отчета</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Главная</a>
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Составление отчета</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
		
		    <h3>Категория: {{category.name}}</h3><br>
		    <h3>Дилер: <a href='/checklist/dealer/{{dealer.id}}/'>{{dealer.short_title}}</a></h3>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<form method='post' action='/'>
		    		{% csrf_token %}
		    <div class='input-group' id='{{point.id}}'>
		    <table class='table table-bordered'>
		        <thead>
		            <th colspan='4'>{{subcategory.name}}</th>
		        </thead>
		        <tbody>
		        	<tr>
		        		<td align='center'><b>Порядковый номер</b></td>
		        		<td align='center'><b>Название показателя</b></td>
		        		<td align='center'><b>Присутствует</b></td>
		        		<td align='center'><b>Отсутствует</b></td>
		        	</tr>
		        	
		            {% for point in points %}
		            <tr>
		                <td align='center'>{{category.sequense_number}}.{{subcategory.sequense_number}}.{{point.sequense_number}}</td>
		                <td align='center'>{{point.name}}</td>
		                {% if point_marks|keyvalue:point == 0 %}	
		                <td align='center'><input type='radio' name='{{point.id}}' value='true' required></td>
		                <td align='center'><input class="comment-checkbox" type='radio' name='{{point.id}}' value='false' required checked></td>
		                {% elif point_marks|keyvalue:point > 0 %}
		                <td align='center'><input type='radio' name='{{point.id}}' value='true' required checked></td>
		                <td align='center'><input class="comment-checkbox" type='radio' name='{{point.id}}' value='false' required></td>
		                {% elif not point_marks|keyvalue:point %}
		                <td align='center'><input type='radio' name='{{point.id}}' value='true' required></td>
		                <td align='center'><input class="comment-checkbox" type='radio' name='{{point.id}}' value='false' required></td>
		                {% endif %}
		            </tr>
		            {% if point_marks|keyvalue:point == 0 %}
		            <tr>
		            	<td colspan='3'>
		            		<textarea rows="3" class="form-control" name="{{point.name}}" style='resize: none;'>{% if comments|keyvalue:point %}{{comments|keyvalue:point}}{% endif %}</textarea>   
		            	</td>
		            	<td>
		            		<label>Ответственный:</label><br>
		            		<select name='{{point.name}}{{point.id}}' class='select'>
		            			<option default value='0'>Выбрать ответственного</option>
		            			{% for child in dealer.childs.all %}
		            			{% if responsibles|keyvalue:point %}
		            			{% if responsibles|keyvalue:point == child %}
		            			<option value='{{child.id}}' selected>{{child}}</option>
		            			{% endif %}
		            			{% else %}
		            			<option value='{{child.id}}'>{{child}}</option>
		            			{% endif %}
		            			{% endfor %}
		            		</select>
		            	</td>
		            </tr>
		            {% else %}
		            <tr style='display: none;'>
		            	<td colspan='3'>
		            		<textarea rows="3" class="form-control" name="{{point.name}}" style='resize: none;'></textarea>   
		            	</td>
		            	<td>
		            		<label>Ответственный:</label><br>
		            		<select name='{{point.name}}{{point.id}}' class='select'>
		            			<option default value='0'>Выбрать ответственного</option>
		            			{% for child in dealer.childs.all %}
		            			<option value='{{child.id}}'>{{child}}</option>
		            			{% endfor %}
		            		</select>
		            	</td>
		            </tr>
		            {% endif %}
		            {% endfor %}
		        </tbody>
		    </table>
		 <input type='hidden' value='{{user.id}}' name='user.id'>
		 <input type='hidden' name='subcategory.id' value='{{subcategory.id}}'>
		 <input type='hidden' name='dealer.id' value='{{dealer.id}}'>
		 <input type='submit' value='Сохранить отчет'>   
		 <br><br><br>
		</form>
	</div>
</div>


{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script type = "text/javascript">
	$(function(){
		
		$('.comment-checkbox').on('ifChanged', function (event) {
			var $container = $(this).closest('tr');
				
			if (event.target.checked) {
				$container.next().show();
			} else {
				$container.next().hide();
			}
			
		});
		
	})
</script>
{% endblock %}