{% extends 'users/index.html' %}

{% block user %}
{{user.get_full_name}}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% include 'coach/coach_menu.html' %}
{% endblock %}

{% block content %}


<div id="content-header" class='mini'>
	<h1 style="position: relative; text-align: left;">Список тренингов</h1>
</div>




<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Список тренингов</a>
</div>



<div class='row'>
	<div class='col-sm-12'>
	    <div class="widget-box">
	    	
	        <div class="widget-title">
	            <a href="#">
	                <span class="icon"><i class="fa fa-globe"></i></span><h4>Информация о тестированиях</h4>
	            </a>
	        </div>
	        
	        <div class="widget-content">
	        	<table class="table table-bordered table-striped table-hover with-check">
		            <thead>
		                <tr>
							<th>Название тренинга</th>
							<th>Дата проведения тренинга</th>
							<th>Подробная информация</th>
		                </tr>
		            </thead>
		            <tbody>
		                {% for training in trainings %}
		                <tr>
		                    <td align='center' style='width: 45%'>{{training}}</td>
		                    <td align='center' style='width: 45%'>{% for date in training.dates.all%}{{date.date}}<br> {%endfor%}</td>
		                    <td align='center'><a class='btn btn-success' href='{{training.id}}/'>Просмотреть</a></td>
		                </tr>
		                {% endfor %}
		            </tbody>
		        </table>
	        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}