{% extends 'users/index.html' %}

{% block user %}
{{user.get_full_name}}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% include 'coach/coach_menu.html' %}
{% endblock %}

{% block content %}

<div class='row'>
    <div class="col-xs-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="50%">Даты очного обучения</th>
                    <th width="50%"></th>
                </tr>
            </thead>
            <tbody>
                {% for date in dates %}
                <tr>
                    <td>{{ date.date }}</td>
                    <td><a href="/training/date/{{ date.id }}/" class="btn btn-block btn-primary">Подробнее</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <form method="post" action="/save-dates/">
    {% csrf_token %}
        <table class="table table-bordered">
            <thead>

                    <th>Сотрудник</th>
                    <th>Дилер</th>
                    {% for date in ptraining.dates.all %}
                    <th>{{ date.date }}</th>
                    {% endfor %}
                    
            </thead>
            <tbody>
            {% for user in ptraining.allowed_users.all %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.parentId }}</td>
                {% for date in ptraining.dates.all %}
                    <td><input name='*{{ user.id }}' value="{{ date.id }}" type="radio"></td>
                {% endfor %}
                </tr>

            {% endfor %}

                <tr>
                    <td colspan="3"><input type="submit" class="btn btn-block btn-success" value="Сохранить"></td>
                </tr>
            </tbody>
        </table>
    <input type="hidden" name="path" value="{{ request.path }}">
    <input type="hidden" name="training" value="{{ ptraining.id }}">
    </form>
    </div>
</div>


{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}