{% extends 'users/index.html' %}

{% block user %}
{{user.get_full_name}}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% include 'coach/coach_menu.html' %}
{% endblock %}

{% block content %}

<div class='row'>
    <div class="col-xs-9">
    <form method="post" action="/training/date/{{ date.id }}/">
    {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="50%">Сотрудник</th>
                    <th width="50%">Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for user, mark in users_marks %}
                <tr>
                    <td align="center" width="80%">{{ user }}</td>
                    {% if mark >= 0 %}
                    <td align="center"><input name="{{ user.id }}" type="text" placeholder="{{ mark }}"></td>
                    {% else %}
                    <td align="center"><input name="{{ user.id }}" type="text" placeholder="Введите оценку"></td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" align="center"><input type="submit" class="btn btn-block btn-primary" style="width: 150px" value="Подтвердить"></td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
</div>


{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}