{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список доступных тренингов</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/trainings">Тренинги</a>
</div>


<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Доступные тесты</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Название тренинга</th>
							<th>Описание</th>
							<th>Выбранное время прохождения</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
					    {% for training, date in tabledata %}
						<tr>
                        {% if training.training_name %}
                            <td align='center'>{{training.training_name}}</td>
                        {% else %}
							<td align='center'>{{training.training}}</td>
                        {% endif %}
							<td align='center'>{{training.training.short_description}}</td>
							{% if date %}
							<td align='center'>{{date.date.date}}</td>
                            <td></td>
							{% else %}
							<td align='center'>Время не выбрано</td>
                            <td align='center'><a href='/trainings/traininginfo/{{training.id}}' class="btn btn-purple btn-xs">Перейти</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>




{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}