{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="static/css/jquery-ui.css" />
<link rel="stylesheet" href="static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="static/css/select2.css" />		
<link rel="stylesheet" href="static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{training.training.name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/trainings">Тренинги</a>
	<a href='/trainings/traininginfo/{{training.id}}/'>{{training.training.name}}</a>
</div>

<div class='row'>
    <div class="col-xs-6">
   		<table class="table table-bordered table-striped table-hover">
   		    <tbody>
   		        <tr>
   		            <td>Место проведения</td>
   		            <td>{{training.place}}</td>
   		        </tr>
   		        <tr>
   		            <td>Тренер</td>
   		            <td>{{training.coach}}</td>
   		            <td>{{training.coach_phone}}</td>
   		            
   		        </tr>
   		        
   		        <tr>
   		            <td>Организатор</td>
   		            <td>{{training.org}}</td>
   		            <td>{{training.org_phone}}</td>
   		        </tr>
   		   </tbody>
   	    </table>
    </div>
    
    <div class="col-xs-6">
   		{% autoescape off %}
       	{{training.training.description}}
       	{% endautoescape %}
    </div>
    
</div>
<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Выбор даты</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
						    <th>Доступная дата</th>
							<th>Количество свободных мест</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					    {% for date, seats in dates %}
					    <tr>
							<td align='center'>{{date.date}}</td>
							<td align='center'>{{seats}}</td>
							{% if seats %}
							<td align='center' ><a href='/trainings/datechoice/{{date.id}}/{{training.id}}' class="btn btn-purple btn-xs">Выбрать</a></td>
							{% else %}
							<td align='center' ><a href='/trainings/datechoice/{{date.id}}/{{training.id}}' class="btn btn-purple btn-xs" disabled>Нет мест</a></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endblock %}


{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}