{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% if user.is_dist %}
{% include 'users/dist_menu.html' %}
{% elif user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{training.training.name}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/trainings' class='tip-bottom'>Информация о тренингах</a>
	<a href='/trainings/traininginfo/{{training.id}}/'>{{training.training.name}}</a>
</div>

<div class='row'>
    <div class="col-xs-9">
   		<table class="table table-bordered table-striped table-hover">
   		    <tbody>
   		        <tr>
   		            <td>Место проведения</td>
                    {% if training.place %}
   		            <td>{{ training.place }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
   		        </tr>
   		        <tr>
   		            <td width="33%">Тренер</td>
                    {% if training.coach %}
   		            <td width="33%">{{ training.coach }}</td>
                    {% else %}
                    <td width="33%">-</td>
                    {% endif %}
                    {% if training.coach_phone %}
   		            <td width="33%">{{ training.coach_phone }}</td>
                    {% else %}
                    <td width="33%">-</td>
                    {% endif %}
   		        </tr>
   		   </tbody>
   	    </table>
    </div>
    
    <div class="col-xs-3">
   		{% autoescape off %}
       	{{training.training.description}}
       	{% endautoescape %}
    </div>
    
</div>

<div class='row'>
    <div class="col-xs-12">
    {% for date, results in date_results %}
        <h3>{{ date.date }}</h3>
        <table class="table table-hover" id="trainings">
            <thead>
                <tr>
                    <th width="40%">ФИО</th>
                    <th width="40%">Дилер</th>
                    <th width="20%">Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for user, dealer, result in results %}
                <tr>
                    <td align='center'><a href="/users/{{user.id}}/">{{user.get_full_name}}</a></td>
                    <td align='center'>{{ dealer.short_title }}</td>
                    <td align='center'>{{ result }}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>



<script type="text/javascript" charset="utf-8">
		jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
                var x = (a == "&&") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "&&") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;

                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
              };

              jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;

                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
              };
			$(document).ready(function() {
				$('#trainings').dataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "iDisplayLength": 25,
                "language": {
                    "paginate": {

                      "next": "Следующая",
                      "previous":   "Предыдущая"

                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей"
                  },
                "columnDefs": [
                { "type": "percent"}
            ]

        } );
			} );


		</script>
{% endblock %}