{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}

{% if user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}
{% if user.is_dist %}
{% include 'users/dist_menu.html' %}
{% endif %}

{% endblock %}



{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о тренингах</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/trainings/' class='tip-bottom'>Информация о тренингах</a>
</div>


<div class='row'>
    <div class="col-xs-12">
        <div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="fa fa-th"></i>
				</span>
				<h5>Тренинги</h5>
			</div>
			<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Название тренинга</th>
							<th>Описание</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
					    {% for training in trainings %}
						<tr>
							<td align='center'>{{training.training}}</td>
							<td align='center'>{{training.training.short_description}}</td>
							<td align='center'><a href='/trainings/traininginfo/{{training.id}}' class="btn btn-purple btn-xs">Подробнее</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}