{% extends 'users/index.html' %}

{% block user %} {{ user.get_full_name }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}


{% block menu %}
{% if user.is_user %}
{% include 'users/users_menu.html' %}
{% elif user.is_dist %}
{% include 'users/dist_menu.html' %}
{% elif user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}
{% endblock %}

{% block content %}
				<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Кабинет
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"
	style="position: absolute;right: 15px;top: -4px;">Изменить пароль</a></h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
</div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered" id="calendar">
                <thead>
                    <th>Название мероприятия</th>
                    <th>Тип мероприятия</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td align="center">
                            <a href={{ event.4 }}>{{ event.0 }}</a>
                        </td>
                        <td align="center">{{ event.1 }}</td>
                        <td align="center">{{ event.2|date:"d/m/y" }}</td>
                        <td align="center">{{ event.3|date:"d/m/y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready(function() {
				$('#calendar').dataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "iDisplayLength": 25,
                "order": [],
                "language": {
                    "paginate": {

                      "next": "Следующая",
                      "previous":   "Предыдущая",

                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
                "aoColumns": [
            null,
            null,
            { "sType": "date-uk" },
            { "sType": "date-uk" },
        ]
    });

} );
jQuery.extend( jQuery.fn.dataTableExt.oSort, {
"date-uk-pre": function ( a ) {
    var ukDatea = a.split('/');
    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
},

"date-uk-asc": function ( a, b ) {
    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
},

"date-uk-desc": function ( a, b ) {
    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
}
} );
</script>
{% endblock %}