{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{user.title}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/dealers" class="tip-bottom"><i class="fa fa-home"></i>Список дилеров</a>
	<a href="/dealers/{{user.id}}" class="current">Информация о дилере</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>Выбран курс: {{ course }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <form method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-sm-9">
                <label>Выбрать курс</label>
                <select name="ecourses[]" style="width: 350px;">
                <option></option>
                    {% for ecourse in ecourses %}
                    <option value="{{ ecourse.id }}">{{ ecourse }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <label>Выбрать ДО  </label>
                <select name="tests[]" style="width: 350px;">
                    <option></option>
                    {% for test in tests %}
                    <option value="{{ test.id }}">{{ test }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
            <input type="submit" class="btn btn-block btn-success" value="Продолжить" style="width: 250px;">
        </form>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}