{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}


{% block menu %}

{% include 'users/dealer_menu.html' %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Кабинет
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"
	style="position: absolute;right: 15px;top: -4px;">Изменить пароль</a></h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
</div>

    <div class="row">
    <div class="col-sm-6">
    <h3>Ваш рейтинг составляет: {{ raiting }}</h3>
        <table class="table table-bordered">
            <thead>
                <th>Название департамента</th>
                <th>Рейтинг</th>
            </thead>
            <tbody>
            {% for x, n in deps_raitings %}
                <tr>
                    <td align="center"><a href='/departament-rating/{{ x.id }}/'>{{ x }}</a></td>
                    {% if n >= 0 and n <= 70 %}
                    <td bgcolor='FAD1DB' align="center"><b>{{ n|floatformat }}</b></td>
                    {% elif n > 70 and n < 80 %}
                    <td bgcolor='FFFFA6' align="center"><b>{{ n|floatformat }}</b></td>
                    {% else %}
                    <td bgcolor='B5FFBA' align="center"><b>{{ n|floatformat }}</b></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>



{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}