<div id="sidebar">
	<ul>
		<li><a href="/"><i class="fa fa-home"></i> <span>Кабинет</span></a></li>
		<li class="submenu">
			<a href="#"><i class="fa fa-flask"></i> <span>Обучение</span></a>
			<ul>
				<li><a href="/elearning/list">Дистанционное</a></li>
				<li><a href="/trainings/">Тренинги</a></li>
			</ul>
		</li>
		
		<li><a href="/tests/testlist"><i class="fa fa-flask"></i> <span>Тестирование</span></a></li>
			
		<li><a href="/users"><i class="fa fa-home"></i> <span>Сотрудники</span></a></li>
		<li class="submenu">
			<a href="#"><i class="fa fa-flask"></i> <span>Стандарты</span></a>
			<ul>
				<li><a href="/checklist/dealer-reports/">Отчеты</a></li>
				<li><a href="/checklist/dealer/archive/">Архив</a></li>
			</ul>
		</li>
        <li><a href="/calendar"><i class="fa fa-calendar"></i> <span>Календарь событий</span></a></li>
		
	</ul>

</div>