{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
{% endblock %}


{% block menu %}

{% include 'users/dealer_menu.html' %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список сотрудников</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/users" class="current">Список сотрудников</a>
</div>

<div class="row">
    <div class="col-sm-6">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Все сотрудники</h5>
        
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover data-table">
            <thead>
                <tr>
                    <th width='70%'>ФИО</th>
					<th>Основная должность</th>
					
                </tr>
            </thead>
            <tbody>
                {% for child in user.childs.all %}
                <tr>
                    <td><a href="/users/{{child.id}}">{{child.get_full_name}}</a></td>
                    <td>{{child.job}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}