{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о тренинге</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/training/{{training.id}}'>Информация о тренинге</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered">
            <thead>
                <th>Сотрудник</th>
                <th>Рейтинг</th>
            </thead>
            <tbody>
            {% for user, rating in users_ratings %}
                <tr>
                    <td align="center"><a href='/users/{{ user.id }}'>{{ user }}</a></td>
                    {% if rating >= 0 and rating <= 70 %}
                    <td bgcolor='FAD1DB' align="center">{{ rating|floatformat }}</td>
                    {% elif rating >= 71 and rating <= 79 %}
                    <td bgcolor='FFFFA6' align="center">{{ rating|floatformat }}</td>
                    {% elif rating >= 80 and rating <= 100 %}
                    <td bgcolor='B5FFBA' align="center">{{ rating|floatformat }}</td>
                    {% else %}
                    <td>Рейтинг отсутствует</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}