{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Курс: {{ course }}</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='#' class='tip-bottom'>Информация о курсе</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
                {% if tests %}
                    <h4>Тестирования</h4>
                {% endif %}
                    {% for test, users in tests %}

		        	<table class="table table-bordered">
			            <thead>
			                <tr>
								<th style="vertical-align: middle;" colspan="3">
                            {% if test.test_name %}
                                <h4>{{ test.test_name }}<a href="/test-export/{{ test.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% else %}
                                <h4>{{ test.test.name }}<a href="/test-export/{{ test.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% endif %}
                                </th>

			                </tr>
			            </thead>
			            <tbody>
			                {% for user in users %}
			                <tr>
			                    <td align='center' ><a href='/users/{{ user.id }}/'>{{ user.get_full_name }}</a></td>
                                <td align='center' >{{ user.job }}</td>
                                {% if user.parentId %}
                                <td align='center' >{{ user.parentId }}</td>
                                {% else %}
                                <td align='center' >-</td>
                                {% endif %}
			                </tr>
			                {% endfor %}

			            </tbody>
			        </table>

                    {% endfor %}
<hr>
    {% if ecourses %}
                    <h4>Дистанционные обучения</h4>
                {% endif %}
                    {% for ecourse, users in ecourses %}

		        	<table class="table table-bordered">
			            <thead>
								<th colspan="3">
                            {% if ecourse.course_name %}
                                <h4>{{ ecourse.course_name }}<a href="/ecourse-export/{{ ecourse.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% else %}
                                <h4>{{ ecourse.course.name }}<a href="/ecourse-export/{{ ecourse.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% endif %}
                                </th>

			            </thead>
			            <tbody>
			                {% for user in users %}
                                <tr>
                                    <td align='center' ><a href='/users/{{ user.id }}/'>{{ user.get_full_name }}</a></td>
                                    <td align='center' >{{ user.job }}</td>
                                    {% if user.parentId %}
                                        <td align='center' >{{ user.parentId }}</td>
                                    {% else %}
                                        <td align='center' >-</td>
                                    {% endif %}
                                </tr>
			                {% endfor %}
			            </tbody>
			        </table>

                    {% endfor %}
    <hr>
    {% if trainings %}
                    <h4>Очные обучения</h4>
                {% endif %}
                    {% for tr, users in trainings %}

		        	<table class="table table-bordered">
			            <thead>

								<th colspan="3">
                            {% if tr.training_name %}
                                <h4>{{ tr.training_name }}<a href="/training-export/{{ tr.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% else %}
                                <h4>{{ tr.training.name }}<a href="/training-export/{{ tr.id }}/{{ course.id }}/" class="btn btn-block btn-success" style="width: 150px; float: right;">Экспорт</a></h4>
                            {% endif %}
                                </th>

			            </thead>
			            <tbody>
			                {% for user in users %}
                                <tr>
                                    <td align='center' ><a href='/users/{{ user.id }}/'>{{ user.get_full_name }}</a></td>
                                    <td align='center' >{{ user.job }}</td>
                                    {% if user.parentId %}
                                        <td align='center' >{{ user.parentId }}</td>
                                    {% else %}
                                        <td align='center' >-</td>
                                    {% endif %}
                                </tr>
			                {% endfor %}

			            </tbody>
			        </table>

                    {% endfor %}
    <hr>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}