{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Кабинет
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"
	style="position: absolute;right: 15px;top: -4px;">Изменить пароль</a></h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
</div>


<div class='row'>
	
	<div class='col-sm-12'>
	    <h3>Текущие курсы дистанционного обучения</h3>
	    {% if courses %}
        	<table class="table table-striped table-bordered">
	            <thead>
					<th>Название тестирования</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th></th>
	            </thead>
	            <tbody>
	                {% for test in courses %}
                	<tr>
                	    <td align='center' width="30%">{{test.course}}</td>
                	    <td align='center' width="30%">{{test.date_start}}</td>
                	    <td align='center' width="30%">{{test.date_end}}</td>
                	    <td align='center' width="10%"><a href='/elearning/userlist/{{test.id}}/' class='btn btn-success'>Подробнее</a></td>
                    </tr>
                    {% endfor %}
	            </tbody>
	        </table>
	   {% else %}
	   <p>Текущих тестирований нету.</p>
	   {% endif %}
	   
	</div>
</div>


<div class='row'>
	
	<div class='col-sm-12'>
	    <h3>Текущие тестирования</h3>
	    {% if tests %}
        	<table class="table table-striped table-bordered">
	            <thead>
					<th>Название тестирования</th>
					<th>Дата начала</th>
					<th>Дата окончания</th>
					<th></th>
	            </thead>
	            <tbody>
	                {% for test in tests %}
                	<tr>
                	    <td align='center' width="30%">{{test.test}}</td>
                	    <td align='center' width="30%">{{test.date_start}}</td>
                	    <td align='center' width="30%">{{test.date_end}}</td>
                	    <td align='center' width="10%"><a href='/tests/full-testinfo/{{test.id}}/' class='btn btn-success'>Подробнее</a></td>
                    </tr>
                    {% endfor %}
	            </tbody>
	        </table>
	   {% else %}
	   <p>Текущих тестирований нету.</p>
	   {% endif %}
	   
	</div>
</div>




{% endblock %}

{% block js_inc %}


{% endblock %}