{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />

{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}


{% block content %}

<div id="content-header" class="mini">
	<h1>Список сотрудников</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/users" class="current">Список сотрудников</a>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-th"></i>
                </span>
                <h5>Все сотрудники</h5>
                <span class="label label-info"></span>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-striped table-hover with-check data-table">
                    <thead>
                        <tr>
        					<th width='33%'>ФИО</th>
        					<th width='33%'>Дилер</th>
        					<th width='33%'>Почта</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in childs %}
                        <tr>
                            <td><a href="/users/{{child.id}}/">{{child.get_full_name}}</a></td>
                            <td align='center'>{{child.parentId.short_title}}</td>
                            <td align='center'>{{child.email}}</td>
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src='/static/js/resize.js'></script>


{% endblock %}