{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Кабинет
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"
	style="position: absolute;right: 15px;top: -4px;">Изменить пароль</a></h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
</div>


<div class='row'>
	
	<div class='col-sm-9'>
		        	<table id='example' class="table table-striped table-bordered">
			            <thead>
							<th>Наименование</th>
							<th>Количество</th>
			            </thead>
			            <tbody>
		                	<tr>
		                	    <td align='center' width="70%">Всего дилеров</td>
		                	    <td align='center'>{{dealers.count}}</td>
		                    </tr>
		                    <tr>
		                	    <td align='center'>Всего пользователей</td>
		                	    <td align='center'>{{dealer_childs|length}}</td>
		                    </tr>
		                    {% for users, job in users_jobs %}
		                    {% if job %}
		                    <tr>
		                	    <td align='center'>{{job}}</td>
		                	    <td align='center'>{{users}}</td>
		                    </tr>
		                    {% else %}
		                    <tr>
		                	    <td align='center'>Другие</td>
		                	    <td align='center'>{{users}}</td>
		                    </tr>
		                    {% endif %}
		                   {% endfor %}
			            </tbody>
			        </table>
		        
		        
		
	</div>
</div>

<hr style="border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);">


<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Тренинги</h5>
        
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover data-table">
            <thead>
                <tr>
                    <th>Название тренинга</th>
					<th>Целевая аудитория</th>
					<th>Всего прошло как обязательный</th>
					<th>Всего прошло</th>
					<th>Всего не прошло</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
                {% for training, done, undone, smart, target in results %}
                <tr>
                    <td>{{training}}</td>
                    <td>{{target}}</td>
                    <td>{{smart}}</td>
                    <td>{{done}}</td>
                    <td>{{undone}}</td>
                    <td><a href='/training/{{training.id}}'>Подробнее</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

<hr style="border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);">








{% endblock %}

{% block js_inc %}
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>
<script>
$(document).ready( function () {
    $('#example').DataTable();
} );
$('#example').DataTable( {
	"paging": true,
    "language": {
                    "paginate": {
                      "first": "Первая",
                      "next": "Следующая",
                      "previous":   "Предыдущая",
                      "last":       "Последняя",
                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
} );

</script>


{% endblock %}