<div id="sidebar">
	<ul>
		<li><a href="/"><i class="fa fa-home"></i> <span>Кабинет</span></a></li>
        <li><a href="/courses/"><i class="fa fa-home"></i> <span>Курсы</span></a></li>
		<li class="submenu">
			<a href="#"><i class="fa fa-flask"></i> <span>Обучение</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="/elearning/list">Дистанционное</a></li>
				<li><a href="/trainings/">Тренинги</a></li>
			</ul>
		</li>
			<li><a href="/tests/test-list/"><i class="fa fa-flask"></i> <span>Тестирование</span></a></li>
	
		<li class="submenu">
			<a href="#"><i class="fa fa-file"></i> <span>Сотрудники</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="/users">Сотрудники</a></li>
				<li><a href="/dealers">Дилеры</a></li>
			</ul>
		</li>
		<li class="submenu">
			<a href="#"><i class="fa fa-file"></i> <span>Стандарты</span> <i class="arrow fa fa-chevron-right"></i></a>
			<ul>
				<li><a href="/checklist/info">Общие рейтинги</a></li>
				<li><a href="/checklist/region-info">Рейтинги по регионам</a></li>
				<li><a href="/checklist/comparison">Сравнение показателей</a></li>
				<li><a href="/checklist/reports/archive">Архив отчетов</a></li>
			</ul>
		</li>
        <li><a href="/rating"><i class="fa fa-home"></i> <span>Рейтинг</span></a></li>
        <li><a href="/calendar"><i class="fa fa-calendar"></i> <span>Календарь событий</span></a></li>
	</ul>
</div>