{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о курсах</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/tests/test-list/' class='tip-bottom'>Курсы</a>
</div>


<div class='row'>
	<div class='col-sm-12'>



		        <h4>Курсы</h4>

		        	<table class="table table-bordered">
			            <thead>
			                <tr>
								<th>Название курса</th>
								<th>Дата начала</th>
								<th>Дата окончания</th>
                                <th></th>
			                </tr>
			            </thead>
			            <tbody>
			                {% for course in courses %}
			                <tr>
			                    <td align='center' >{{ course.name }}</td>
			                    <td align='center' >{{ course.get_date_start }}</td>
                                <td align='center' >{{ course.get_date_end }}</td>
			                    <td align='center'><a class='btn btn-success' href='/courses/{{ course.id }}/'>Подробнее</a></td>
			                </tr>
			                {% endfor %}
			            </tbody>
			        </table>




</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}