{% extends 'users/index.html' %}

{% block user %}
{{ dist.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>{{user.title}}</h1>
</div>
<div id="breadcrumb">
	<a href="/" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/dealers" class="tip-bottom"><i class="fa fa-home"></i>Список дилеров</a>
	<a href="/dealers/{{user.id}}" class="current">Информация о дилере</a>
</div>

<div class="row">
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-9">
            <div class="widget-box">
                
                <div class="widget-content">
                    <table class="table table-bordered table-striped table-hover with-check">
                        <tbody>
                        <tr>
							<td width='25%'>Фамилия</td>
							<td>{{user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</th>
							<td>{{user.fathers_name}}</td>
						</tr>
						
						<tr>
							<td>Дистрибьютор</th>
							<td>{{user.parentId.title}}</td>
						</tr>
						
						<tr>
							<td>E-mail</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Город</th>
							<td>{{user.city}}</td>
						</tr>
						<tr>
							<td>Телефон</th>
							<td>{{user.phone}}</td>
						</tr>
						<tr>
							<td>Уровень обученности</th>
							{% if study_mark %}
							<td>{{study_mark}}%</td>
							{% else %}
							<td>0</td>
							{% endif %}
						</tr>
						</tbody>
					</table>
				</div>
			</div>
        </div>
        
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-title">
       				<span class="icon">
            		<i class="fa fa-th">
                
            		</i>
        			</span>
       				<h5>Все сотрудники</h5>
        			<span class="label label-info">{{user.childs.count}}</span>
    			</div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped table-hover data-table with-check">
			            <thead>
			                <tr>
			                    <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
								<th>ФИО</th>
								<th>Основная должность</th>
								<th>Уровень обученности</th>
			                </tr>
			            </thead>
			            <tbody>
			                {% for child, mark in childs_marks %}
			                <tr>
			                    <td><input type="checkbox"/></td>
			                    <td><a href="/users/{{child.id}}">{{child.last_name}} {{child.first_name}} {{child.fathers_name}}</a></td>
			                    <td>{{child.job}}</td>
			                    <td>{{mark}}</td>
			                   
			                </tr>
			                {% endfor %}
			            </tbody>
			        </table>
				</div>
			</div>
        </div>
        
    </div>

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}