{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Список дилеров</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/dealers" class="current">Список дилеров</a>
</div>

<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Все дилеры</h5>
        
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover with-check">
            <thead>
                <tr>
                    <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
					<th>Название дилера</th>
					<th>Город</th>
					<th>E-mail</th>
					<th>Последний визит</th>
					<th>Уровень обученности</th>
                </tr>
            </thead>
            <tbody>
                {% for child, level in dealers_info %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a href="/dealers/{{child.id}}">{{child.title}}</a></td>
                    <td>{{child.city}}</td>
                    <td>{{child.email}}</td>
                    <td>{{child.last_login}}</td>
                    {% if level %}
                    <td>{{level}}%</td>
                    {% else %}
                    <td>Нет результата</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}