{% extends 'users/index.html' %}

{% block user %}
{{ user.get_full_name }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/users_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>FAQ</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Профиль</a>
	<a href="/trainings">FAQ</a>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <h3><b>Список вопросов</b></h3><br><br>
        <ol>
        {% for faq in faqs %}
        <li><h4><a href='#{{faq.id}}'>{{faq.question}}</a></h4></li>
        {% endfor %}
        </ol>
    </div>
</div>
<br><br><br>
<div class='row'>
    <div class='col-sm-12'>
        <ol>
        {% for faq in faqs %}
        <li><p><a name='{{faq.id}}'></a><b>{{faq.question}}</b></p><br></li>
            {% autoescape off %}
        {{faq.answer}}<br><br>
            {% endautoescape %}
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}


{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}