<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Renault</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/css/select2.css" />
		<link rel="stylesheet" href="/static/css/jquery.jscrollpane.css" />	
		<link rel="stylesheet" href="/static/css/unicorn.css" />
		<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
		
		{% block css_inc %}
		{% endblock %}
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/respond.min.js"></script>
		<![endif]-->
			
	</head>	
	<body data-color="grey" class="flat">
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">Renault</a></h1>	
				<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>	
			</div>
		
			<div id="user-nav">
	            <ul class="btn-group">
	            	
	                <li class="btn" ><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Профиль ({% block user %}{% endblock %})</span></a></li>
	                <li class="btn"><a title="" href="/logout/"><i class="fa fa-share"></i> <span class="text">Выход</span></a></li>
	            </ul>
	        </div>
	       {% block menu %}{% endblock %}
			
			
			<div id="content">
				
			
				{% block content %}
				{% endblock %}

			</div>
			<div class="row">
				<div id="footer" class="col-xs-12">
					2015 &copy; AUTOEXPERT.IN.UA
				</div>
			</div>
		</div>

			<script src="/static/js/jquery.min.js"></script>
            
            <script src="/static/js/jquery-ui.custom.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
			<script src="/static/js/select2.min.js"></script>
            <script src="/static/js/jquery.nicescroll.min.js"></script>
            <script src="/static/js/unicorn.js"></script>
            <script src="/static/js/jquery.icheck.min.js"></script>
            <script src="/static/js/bootstrap-colorpicker.js"></script>
            {% block js_inc %}
			{% endblock %}
			<script src='/static/js/resize.js'></script>
            
	</body>
</html>
