<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/font-awesome.css" />
        <link rel="stylesheet" href="/static/css/unicorn-login.css" />
        {% block css_inc %}
		{% endblock %}
    		<script type="text/javascript" src="/static/js/respond.min.js"></script>
	</head>    
	<body>
        <div id="container">
            <div id="logo">
                <img src="/static/img/logo2.png" alt="" />
            </div>
            <div id="user">
                <div class="avatar">
                    
                    
                </div>
                
            </div>
            <div id="loginbox">            
                <form id="loginform" method="post" action='/login/'>
                    {% csrf_token %}
                    {% if message %}
                    <p>{{message}}</p>
                    {% else %}
                    <p>Введите e-mail и пароль чтобы войти на сайт.</p>
                    {% endif %}
    				
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control" type="text" id="email" placeholder="E-mail address" name="email"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" id="password" placeholder="Password" name="password"/>
                    </div>
                    <div class="form-actions clearfix">
                        
                        
                        <div class="pull-right">
                            <a href="#recoverform" class="flip-link to-recover grey">Восстановить пароль</a>
                        </div>
                        
                        <input type="submit" class="btn btn-block btn-primary" value="Войти" />
                        <a href='/support' class='btn btn-warning btn-block'><b>Техподдержка</b></a>
                    </div>
                    

                </form>
                <form id="recoverform" method="post" action='/recover/'>
                    {% csrf_token %}
    				<p>Для восстановления пароля введите e-mail адрес в форму.</p>
    				<div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" placeholder="E-mail address" id='email' name='email'/>
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a href="#loginform" class="grey flip-link to-login">Войти</a>
                        </div>
                        <input type="submit" class="btn btn-block btn-inverse" value="Восстановить" />
                    </div>
                </form>
                <!--
                <form id="registerform" action="#">
                    {% csrf_token %}
                    <p>Enter information required to register:</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="email" placeholder="Введите e-mail" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" placeholder="Введите пароль" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" placeholder="Повторите пароль" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-code-fork"></i></span><input class="form-control" type="bir" placeholder="Введите BIR-код" />
                    </div>
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a href="#loginform" class="grey flip-link to-login">Click to login</a>
                        </div>
                        <div class="pull-right">
                            <a href="#recoverform" class="grey flip-link to-recover">Lost password?</a>
                        </div>
                        <input type="submit" class="btn btn-block btn-success" value="Register" />
                    </div>
                </form>    -->
            </div>
        </div>
        
        <script src="/static/js/jquery.min.js"></script>  
        <script src="/static/js/jquery-ui.custom.min.js"></script>
        <script src="/static/js/unicorn.login.js"></script> 
        {% block js_inc %}
			{% endblock %}
    </body>
</html>
