{% extends 'users/index.html' %}

{% block user %}
{% if current_user.is_user %}
{{ user.get_full_name }} 
{% endif %}
{% if current_user.is_dealer %}
{{ current_user.title }}
{% endif %}
{% if current_user.is_dist %}
{{ current_user.title }}
{% endif %}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% if current_user.is_user %}
{% include 'users/users_menu.html' %}
{% endif %}


{% if current_user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}


{% if current_user.is_dist %}
{% include 'users/dist_menu.html' %}
{% endif %}
{% endblock %}



{% block content %}


<div id="content-header" class='mini'>
	<h1 style="position: relative; text-align: left;">Профиль
	{% if current_user.is_user %}
	<a class="btn btn-inverse" data-toggle="modal" href="/tests/testinfo/"
	style="position: absolute;right: 15px;top: -4px;">Достижения</a>
	{% endif %}
	</h1>
</div>



{% if current_user.is_user %}
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Профиль</a>
</div>
{% endif %}
{% if current_user.is_dealer %}
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/users">Список сотрудников</a>
	<a href="/users/{{user.id}}" class="current">{{user.get_full_name}}</a>
</div>
{% endif %}


{% if current_user.is_dist %}
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href="/users">Список сотрудников</a>
	<a href="/users/{{user.id}}" class="current">{{user.get_full_name}}</a>
</div>
{% endif %}
<div class='row'>
	<div class='col-sm-6'>
<form id="passwordchangeform" method="post">
    {% csrf_token %}
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
	<p>Для изменения пароля заполните следующую форму:</p>
    <div class="input-group input-sm">
        <span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control" type="password" id="oldpassword" placeholder="Старый пароль" name="oldpassword"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" id="newpassword" placeholder="Новый пароль" name="newpassword"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" type="password" id="confirmedpassword" placeholder="Повторите новый пароль" name="confirmedpassword"/>
    </div>
    
    <div class="form-actions clearfix">
        <input type="submit" class="btn btn-block btn-primary" value="Изменить пароль" />
    </div>
</form>
</div>
</div>



{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}