{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о тренинге</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/training/{{training.id}}'>Информация о тренинге</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered">
            <thead>
                <th>Общий рейтинг</th>
            </thead>
            <tbody>
                <tr>
                    {% if overall_rating >= 0 and overall_rating <= 70 %}
                    <td bgcolor='FAD1DB' align="center"><b>{{ overall_rating }}</b></td>
                    {% elif overall_rating > 70 and overall_rating < 80 %}
                    <td bgcolor='FFFFA6' align="center"><b>{{ overall_rating }}</b></td>
                    {% else %}
                    <td bgcolor='B5FFBA' align="center"><b>{{ overall_rating }}</b></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <th>Название департамента</th>
                <th>Рейтинг департамента</th>
            </thead>
            <tbody>
            {% for key, value in deps_rating.items %}
                <tr>
                    <td align="center">{{ key }}</td>
                    {% if value >= 0 and value <= 70 %}
                    <td bgcolor='FAD1DB' align="center"><a href="/rating/dep/{{ key }}/">{{ value }}</a></td>
                    {% elif value > 70 and value < 80 %}
                    <td bgcolor='FFFFA6' align="center">{{ value }}</td>
                    {% else %}
                    <td bgcolor='B5FFBA' align="center">{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
</div>
    <div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered" id="rating">
            <thead>
                <th>Название дилера</th>
                {% for dep in deps %}
                <th>{{ dep }}</th>
                {% endfor %}
                <th>Общий рейтинг дилера</th>
            </thead>
            <tbody>
            {% for dealer, deps, total in total_dealers_rating %}
                <tr>
                    <td align="center">{{ dealer }}</td>
                    {% for dep in deps %}
                        {% if dep.1 >= 0 and dep.1 <= 70 %}
                    <td bgcolor='FAD1DB' align="center"><a href='/rating/{{ dealer.id }}/{{ dep.0.id }}/'>{{ dep.1|floatformat }}</a></td>
                        {% elif dep.1 >= 71 and dep.1 < 80 %}
                    <td bgcolor='FFFFA6' align="center"><a href='/rating/{{ dealer.id }}/{{ dep.0.id }}/'>{{ dep.1|floatformat }}</a></td>
                        {% else %}
                    <td bgcolor='B5FFBA' align="center"><a href='/rating/{{ dealer.id }}/{{ dep.0.id }}/'>{{ dep.1|floatformat }}</a></td>
                        {% endif %}
                    {% endfor %}
                {% if total >= 0 and total <= 70 %}
                <td bgcolor='FAD1DB' align="center">{{ total|floatformat }}</td>
                {% elif total > 70 and total < 80 %}
                <td bgcolor='FFFFA6' align="center">{{ total|floatformat }}</td>
                {% else %}
                <td bgcolor='B5FFBA' align="center">{{ total|floatformat }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script type="text/javascript" charset='utf8' src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset='utf8' src='//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js'></script>



<script type="text/javascript" charset="utf-8">
		jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
                var x = (a == "&&") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "&&") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;

                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
              };

              jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
                var x = (a == "--") ? 0 : a.replace( /%/, "" ).replace(/,/, "." );
                var y = (b == "--") ? 0 : b.replace( /%/, "" ).replace(/,/, "." );
                x = parseFloat( x );
                y = parseFloat( y );
                if(isNaN(x)){
                  if(isNaN(y))
                    return 0;
                  else
                    return 1;
                }
                else if (isNaN(y))
                  return -1;

                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
              };
			$(document).ready(function() {
				$('#rating').dataTable({
                "paging": true,
                "pagingType": "simple_numbers",
                "iDisplayLength": 25,
                "language": {
                    "paginate": {

                      "next": "Следующая",
                      "previous":   "Предыдущая",

                    },
                    "search":         "Поиск:",
                    "lengthMenu":     "Показать _MENU_ записей",
                    "info":           "Показать _START_ - _END_ из _TOTAL_ записей",
                  },
                "columnDefs": [
                { "type": "percent"},
            ],

        } );
			} );


		</script>
{% endblock %}
