<div id="sidebar">
	<ul>
		<li><a href="/"><i class="fa fa-home"></i> <span>Кабинет</span></a></li>
		<li><a href="/checklist/archive"><i class="fa fa-home"></i> <span>Архив</span></a></li>
		<!--<li><a href="#"><i class="fa fa-home"></i> <span>Статистика</span></a></li>-->
	</ul>
</div>