{% extends 'users/index.html' %}

{% block user %} {{ user.title }} {% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}


{% block menu %}

{% include 'users/regmanager_menu.html' %}

{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1 style="position: relative; text-align: left;">Кабинет
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"
	style="position: absolute;right: 15px;top: -4px;">Изменить пароль</a></h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
</div>


<div class='row'>
	<div class='col-sm-12'>
		<table class="table table-bordered">
				    <thead>
						<th>Название дилера</th>
						{% for category in categories %}
						<th style='border-left-width: 2px; border-left-color: #000;' >{{category.name}}</th>
						<th style='border-right-width: 2px; border-right-color: #000;'>Последний ввод данных</th>
						{% endfor %}
						<th>Общий результат</th>
						<th></th>
					</thead>
					
					<tbody>
						{% for dealer, results, report_result in dealers_results %}
						<tr>
							<td align='center'><a href='/checklist/dealer/{{dealer.id}}/'>{{dealer.title}}</a></td>
							
							{% for result in results %}
							{% if result.0 >= 0 %}
							<td style='border-left-width: 2px; border-left-color: #000;vertical-align: middle; text-align: center;'><b>{{result.0}}%</b></td>
							{% else %}
							<td style='border-left-width: 2px; border-left-color: #000;vertical-align: middle; text-align: center;'>Отчет отсутствует</td>
							{% endif %}
							<td style='border-right-width: 2px; border-right-color: #000;font-size: 11px; vertical-align: middle; text-align: center;'>{{result.1}}</td>
							{% endfor %}
							{% if report_result >= 0 %}
							<td align='center' style='vertical-align: middle;' ><b>{{report_result}}%</b></td>
							{% else %}
							<td align='center' style='vertical-align: middle;'>-</td>
							{% endif %}
							<td align='center'><a href='/checklist/view/{{dealer.id}}/' class='btn btn-success'>Добавить данные</a></td>
						</tr>
						{% endfor %}
					</tbody>
						
						
				</table>
	</div>
</div>
{% if chart %}
<br>
<div class='row'>
    <div class='col-sm-12'>
        <div id='regionchart'></div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>	
<script type='text/javascript'>
$(function () {
    $('#regionchart').highcharts({
        title: {
            text: 'Средние оценки',
            x: -20 //center
        },
        subtitle: {
            text: 'Средние оценки',
            x: -20
        },
        xAxis: {
            {% autoescape off %}
            categories: {{monthes}}
            {% endautoescape %}
        },
        yAxis: {
            title: {
                text: 'Оценка'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' %'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        {% autoescape off %}
        series: [
        {
            connectNulls: true, 
            name: 'Общие результаты',
            data: [{% for x in marks %} {% if x == '' %} null, {% else %} {{x|escapejs}},{% endif %} {%endfor %}]
        }, 
        {% for category, results in cat_charts %}
        {
            name: '{{category.name}}',
            data: [{% for x in results %} {% if x == '' %} null, {% else %} {{x|escapejs}},{% endif %} {%endfor %}]
        }, 
        {% endfor %}
        ]
        {% endautoescape %}
    });
});
</script>
{% endblock %}