{% extends 'users/index.html' %}

{% block user %}
{{ user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Информация о тренинге</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='/training/{{training.id}}'>Информация о тренинге</a>
</div>

{% if training_info %}
<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Пользователи прошедшие тренинг</h5>
        
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover data-table">
            <thead>
                <tr>
                    <th>ФИО пользователя</th>
                    <th>Дилер</th>
					<th>Обязательный тренинг</th>
					<th>Дата прохождения</th>
					<th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for child, smart, date, mark in training_info %}
                <tr>
                    <td>{{child.get_full_name}}</td>
                    <td>{{child.parentId}}</td>
                    {% if smart %}
                    <td>Да</td>
                    {% else %}
                    <td>Нет</td>
                    {% endif %}
                    <td>{{date}}</td>
                    <td>{{mark}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endif %}
{% if without_result %}
<div class="row">
    <div class="col-sm-12">
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="fa fa-th">
                
            </i>
        </span>
        <h5>Пользователи не прошедшие тренинг</h5>
        
    </div>
    <div class="widget-content">
        <table class="table table-bordered table-striped table-hover data-table">
            <thead>
                <tr>
                    <th>ФИО пользователя</th>
					<th>Должность</th>
					<th>Дилер</th>
					
                </tr>
            </thead>
            <tbody>
                {% for user in without_result %}
                <tr>
                    <td>{{user.get_full_name}}</td>
                    <td>{{user.job}}</td>
                    <td>{{user.parentId}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}