{% extends 'users/index.html' %}

{% block user %}
{% if current_user.is_user %}
{{ user.get_full_name }} 
{% endif %}
{% if current_user.is_dealer %}
{{ current_user.title }}
{% endif %}
{% if current_user.is_dist %}
{{ current_user.title }}
{% endif %}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />		
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}



{% block menu %}
{% if current_user.is_user %}
{% include 'users/users_menu.html' %}
{% endif %}
{% if current_user.is_dist %}
{% include 'users/dist_menu.html' %}
{% endif %}
{% if current_user.is_dealer %}
{% include 'users/dealer_menu.html' %}
{% endif %}
{% endblock %}

{% block content %}


<div id="content-header" class='mini'>
	<h1 style="position: relative; text-align: left;">Профиль
	{% if current_user.is_user %}
	<a class="btn btn-inverse" data-toggle="modal" href="/tests/testinfo/"	style="position: absolute;right: 15px;top: -4px;">Достижения</a>
	<a class="btn btn-inverse" data-toggle="modal" href='/changepassword' class="btn btn-block btn-primary"	style="position: absolute;right: 140px;top: -4px;">Изменить пароль</a>
	{% endif %}
	{% if current_user.is_dealer or current_user.is_dist %}
	<a class="btn btn-inverse" data-toggle="modal" href="/tests/testinfo/{{user.id}}" style="position: absolute;right: 15px;top: -4px;">Достижения</a>
	{% endif %}
	</h1>
</div>




<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Профиль</a>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3>{{user.get_full_name}}</h3>
            <div class='row'>
            	<img src='{{user.avatar}}'>
            </div>
        </div>
        <div class="col-sm-9">
        <div class="widget-box">
            <table class="table table-bordered table-striped table-hover">
				    <tbody>
						<tr>
							<td width='25%'>Фамилия</td>
							<td>{{user.last_name}}</td>
						</tr>
						<tr>
							<td>Имя</td>
							<td>{{user.first_name}}</td>
						</tr>
						<tr>
							<td>Отчество</th>
							<td>{{user.fathers_name}}</td>
						</tr>
						<tr>
							<td>Дилер</th>
							<td>{{user.parentId.title}}</td>
						</tr>
						<tr>
							<td>Дистрибьютор</th>
							<td>{{user.parentId.parentId.title}}</td>
						</tr>
						<tr>
							<td>Должность</th>
							<td>{{user.job}}</td>
						</tr>
						<tr>
							<td>E-mail</th>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							<td>Город</th>
							<td>{{user.city}}</td>
						</tr>
						<tr>
							<td>Телефон</th>
							<td>{{user.phone}}</td>
						</tr>
						<tr>
							<td>Последний визит</th>
							<td>{{user.last_login}} / {{vis}}</td>
						</tr>
						<tr>
							<td>Рейтинг</th>
							{% if study_mark >= 0 %}
							<td>{{ study_mark|floatformat }}</td>
							{% else %}
							<td>Нет рейтинга</td>
							{% endif %}
						</tr>
				</table>
				</div>
        </div>
    </div>
</div>


{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}