{% extends 'users/index.html' %}

{% block user %}
{{ current_user.title }}
{% endblock %}

{% block css_inc %}
<link rel="stylesheet" href="/static/css/jquery-ui.css" />
<link rel="stylesheet" href="/static/css/icheck/flat/blue.css" />
<link rel="stylesheet" href="/static/css/select2.css" />
<link rel="stylesheet" href="/static/css/unicorn.css" />
{% endblock %}

{% block menu %}
{% include 'users/dist_menu.html' %}
{% endblock %}

{% block content %}
<div id="content-header" class="mini">
	<h1>Рейтинг пользователя {{ user }}</h1>
</div>
<div id="breadcrumb">
	<a href="/" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i>Кабинет</a>
	<a href='#'>Рейтинг пользователя {{ user }}</a>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Название курса</th>
                <th>Оценка</th>
                <th></th>
            </tr>
            {% for course in courses %}
            <tr>
                <td align="center">{{ course.course }}</td>
                <td align="center">{{ course.mark }}</td>
                <td align="center"><a href="/user/{{ user.id }}/rating/{{ course.course.id }}" class="btn btn-primary">Подробнее</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><b>Общий рейтинг: {{ rating }}</b></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block js_inc %}
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/unicorn.tables.js"></script>
{% endblock %}